[2020-02-18 05:05] DillonHammill opened #4 "Migrating from CytoRSuite to CytoExploreR"
CytoExploreR is finally here!

CytoRSuite has completely been re-designed to be more intuitive and provide a framework for developing user friendly tools for cytometry data analysis. Thanks you to everyone who provided feedback on CytoRSuite, I hope that you find the features you requested in CytoExploreR.

Please read the new documentation carefully! CytoExploreR will have some familiar features,

[2020-02-18 16:17] northNomad opened #5 "Cannot install "CytoExploreR""
I ran the following code to get started:
[code]

It throws this following error
[code]
But the newest ```flowCore``` version is 1.52.1!?!?

Below is my session info:
[code]
Apprciate any help in advance!

[2020-02-18 20:01] DillonHammill commented on #5
This most lijely due to out dated RProtoBufLib and cytolib.

Run this and then the code chunk you posted above:

[code]

I will update the installation instructions on the website accordingly.

[2020-02-18 20:29] northNomad commented on #5
------
Hey @DillonHammill Thanks for the reply -
I ran the code you provided above but there is a compilation issue with ```RProtoBufLib```

Below is my console
[code]

Hope there is a way of resolving this :/

[2020-02-18 20:44] DillonHammill commented on #5
Make sure that your environment variables have been set correctly and try again...
![ENV_VAR](https://user-images.githubusercontent.com/28646736/74776429-a78c3f80-52eb-11ea-9feb-57f91969f988.jpg)

[2020-02-18 21:56] northNomad commented on #5
@DillonHammill
I'm very new to the compsci side of things - Not sure if I did it correctly:
I used the "New" below the System variables and manually entered what you showed
![Untitled6](https://user-images.githubusercontent.com/60832021/74781442-7c640a80-526f-11ea-86d4-88b1aa152762.png)

Still giving the same compilation problem.

[code]

[2020-02-18 21:58] DillonHammill commented on #5
Just change the back slashes to forward slashes in the environment variables and it should work fine.

[2020-02-18 22:00] northNomad commented on #5
Tried them both ways (both forward and backward slash), neither worked.
Feeling kinda bad taking up your time but do you have any other solutions on top of your head?

[2020-02-18 22:01] DillonHammill commented on #5
Keep them as forward slashes and try restarting your computer.

[2020-02-18 22:35] DillonHammill commented on #5
Did you download the protocol buffers from http://rglab.github.io/binaries/ and extract them to C:/? It looks like it is struggling to find them...

[2020-02-19 06:34] Andyroo1966 opened #6 "New cyto_plot issue after install of CytoExploreR"
Since I installed CytoExploreR, the version of cyto_plot throw up this error when trying to plot.

eg:   cyto_plot(gs,parent="root", channels = c("FSC-A","SSC-A"))
Error in pd_split[[z]][, "name"] : incorrect number of dimensions

other plotting such as cyto_plot_gating_tree(gs) - work fine.
![image](https://user-images.githubusercontent.com/34082637/74808044-e985a780-5324-11ea-9240-ba4461f7fa54.p

[2020-02-19 07:18] DillonHammill commented on #6
Hmmm, can't say that I have seen this one. Please can you send through your gatingTemplate so that I can troubleshoot this. Thanks for reporting.

[2020-02-19 08:36] Andyroo1966 commented on #6
Hi again Dillon.

cyto_details(gs)
                                                     name
S1 H34CSL7_Heart Ntv_029.fcs S1 H34CSL7_Heart Ntv_029.fcs
S1 H34CSL7_Heart Tx_030.fcs   S1 H34CSL7_Heart Tx_030.fcs
S2 H31CSL7_Heart Ntv_035.fcs S2 H31CSL7_Heart Ntv_035.fcs
S2 H31CSL7_Heart Tx_036.fcs   S2 H31CSL7_Heart Tx_036.fcs
S3 H35CSL7_Heart Ntv_041.fcs S3 H35CSL7_Heart Ntv_041.fcs
S3 H35CSL7_Heart

[2020-02-19 08:46] DillonHammill commented on #6
Thanks I will look into it and get a fix up ASAP.

[2020-02-19 08:53] Andyroo1966 commented on #6
I have an install on another machine at home.  Will take a look at that to see if consistent.  This is an R3.6 Mac Mojave install.  The other install I think is R3.6. Catalina.
regards

[2020-02-19 10:25] DillonHammill commented on #6
This should now be fixed @Andyroo1966. Install the latest version and try again.
[code]
Fortunately all the code refactoring has made it easy to locate and fix errors. Please let me know if the problem persists.

[2020-02-19 17:08] northNomad commented on #5
@DillonHammill Appreciate the guidance lots - I've successfully installed "CytoExploreR"...

What I did (if anyone runs into the same issue) -
--> Uninstall Rstudio and R from control panel.
--> Manually delete R files in /user/documents/R & C/programfiles/R
--> Reinstall R
--> Run this chunk
[code]

Run the rest
[code]

Now time to play around with it - Many thanks again :)

[2020-02-19 17:08] #5 closed

[2020-02-19 19:04] DillonHammill commented on #5
Excellent! I have updated the installation instructions on the website to prevent this from happening to others.

[2020-02-20 00:43] Andyroo1966 commented on #6
All fixed.  Interestingly, plotting was working ok on the other install...  I have updated both installs and both plotting fine now.  Thanks

[2020-02-20 03:32] #6 closed

[2020-02-21 16:17] northNomad opened #7 "How does 'alias' calculate statistics in 1D cyto_plot?"
I used ```rectangleGate``` from ```flowCore``` to make a 1D gate on channel FL4.H -
The channel FL4.H stains for a surface marker called "Gr1".
And I call the gate ```Gr1 +```.

When I plot 1D graph using ```cyto_plot``` and use the ```alias``` argument to display the gate and stats; it shows this:
[code]
![1D](https://user-images.githubusercontent.com/60832021/75051080-3db29800-549b-11ea-98db-d79

[2020-02-21 20:05] MikhaelManurung opened #8 "Integration with SingleCellExperiment object?"
Hi Dillon,

What an amazing effort! Thanks for your contribution to the open-source community.

Is there any plan to provide an integration to SingleCellExperiment object? I use it a lot for CyTOF data analysis. I would find it amazing if I could do a simple biaxial gating on my cell clusters and then somehow have the information (e.g. marker positivity) back to my SCE object again.

Best,
Mikhael

[2020-02-21 21:20] DillonHammill commented on #8
Hi @MikhaelManurung,

What are the benefits of working with SCE objects? Are there any particular features that you like/need?

Dillon

[2020-02-21 21:27] DillonHammill commented on #7
Thanks for reporting @northNomad!

Alright, a number of things are happening here. Firstly, the data is being grouped and merged into your experimental groups. The data in each group is then down sampled to 25000 events using the default display setting of cyto_plot. Then the 1D gate is converted to a 2D gate (infinite coords in the second channel) and applied to the data.

I suspect that the diff

[2020-02-22 04:04] northNomad commented on #7
@DillonHammill ,
Some additional info/questions:
1. Although I used the ```group_by``` argument, all my groups only have one sample. I was just trying to test out the code.
2. According to the instruction, ```label =``` in ```cyto_plot``` takes a boolean argument!? What does it mean by using ```label = 1```?
Is it such that if I have multiple samples in a group (like I should have/how ```group_by`

[2020-02-22 04:08] DillonHammill commented on #7
Sorry I was not clear, set `display = 1`. The display argument controls the degree of sampling in cyto_plot.

[2020-02-22 04:57] northNomad commented on #7
Appreciate the clarification - Now I remember. You explained it perfectly in the Article **Viualise Cytometry Data with cyto_plot()**

So below I set the ```label``` to ```1``` ```0.5``` and ```1000```:
Only sampling all the events does the plot display a stat/label.

![Plot1](https://user-images.githubusercontent.com/60832021/75086780-ea296400-5505-11ea-8bbc-b7443589cde4.png)
![Plot](https://user

[2020-02-22 08:07] DillonHammill commented on #7
OK, not sure why you continue to change the `label` argument instead of the `display` argument. Anyways here is some of the testing that I have done.

To test this I used the Activation samples (each contain 50000 events) and added a 1-D threshold gate using `cyto_gate_draw` as below:

[code]

If we plot the gate in 1-D this is what we get with the default `display = 25000` (i.e. each layer will b

[2020-02-22 17:08] northNomad commented on #7
Legendary -
Appreciate the guidance / apologize for my entry-level mistakes

[2020-02-22 23:59] DillonHammill commented on #7
No problem at all!

I have also checked that the statistics remain unchanged when individual samples are grouped using the `group_by` argument:

[code]
![2D-ungrouped](https://user-images.githubusercontent.com/28646736/75101028-a2e8c380-562a-11ea-911e-3632b6b32cea.png)

[code]
![2D-grouped](https://user-images.githubusercontent.com/28646736/75101029-a714e100-562a-11ea-982a-a4bbb8b06ef8.png)

As yo

[2020-03-04 10:00] hally166 opened #9 "Installation issues of the dependencies"
Hi Dillon,
The tool looks great.
Is there a chance you could expand on how to install CytoExploreR?  Specifically how to install the GitHub repo dependencies.  I've been battling with them for the past two days without success.
I have managed to install RProtoBufLib and cytolib, but I am now stuck on flowCore.  You can see my issues on their issue trackers.  I presume my main issues arrise because

[2020-03-04 11:29] hally166 commented on #9
As suggested on the flowCore issues page I a trying the devel version of bioconductor which should install the correct versions...

[2020-03-05 03:07] gringer commented on #9
We're also having trouble installing CytoExploreR dependencies on our computers. Running `install_github("RGLab/RProtoBufLib", ref = "trunk")` on a Mac system produced an error saying that it could not open the URL. R is looking for this location:

https://api.github.com/repos/RGLab/RProtoBufLib/tarball/trunk

[2020-03-05 03:25] DillonHammill commented on #9
@gringer I believe the "trunk" branch has been deleted from RProtoBufLib. Try installing from the `master` branch:
`install_github("RGLab/RProtoBufLib")`

[2020-03-05 03:27] DillonHammill commented on #9
The same goes for `flowStats`, all of the RGLab packages are now using `master` as their default branch - which is a welcomed change.
`install_github("RGLab/flowStats")`

I will update the website accordingly.

[2020-03-05 04:16] NDasyam commented on #9
Hi there @gringer asked be to paste the error message we encountered here it is :

=== configuring in third_party/googletest (/private/var/folders/d9/_2f181rd5kddy7wmdr1yz7sc000107/T/RtmpTiL6Qa/R.INSTALL608d537fa2ce/RProtoBufLib/src/protobuf-3.10.0/third_party/googletest)
configure: WARNING: no configuration information is in third_party/googletest
CDPATH="${ZSH_VERSION+.}:" && cd . && /bin/sh /pr

[2020-03-05 04:27] DillonHammill commented on #9
Looks like you will need to install GNU G4, perl and autoconf on your system.
https://www.gnu.org/software/m4/
https://www.perl.org/
https://www.gnu.org/software/autoconf/

[2020-03-05 06:18] DillonHammill commented on #9
@NDasyam did you set the LIB_PROTOBUF environment variable correctly?

![image](https://user-images.githubusercontent.com/28646736/75953112-b9cdc680-5f04-11ea-925f-d1249b5153ba.png)

Make sure that you use forward slashes and not back slashes. May as well check that your LIB_XML2 environment variable is also correctly set.

Also double check that protobuf exists in C: and that the folder contains

[2020-03-05 08:41] hally166 commented on #9
Using R 4.0 and biocManager 3.11 (the development versions) didn't work because flowWorkspace doesn't install in R4.0.  This is probably because the current version of RTools 4.0b22 has a bug in it leading it not to be recognised [https://github.com/r-lib/devtools/issues/2148](url)
I failed completely with using R3.6.3 as flowCore would not install form GitHub.
Hopefully with the final releases of

[2020-03-05 08:49] DillonHammill commented on #9
@hally166 I would try the release version of R. I think your issue with flowCore was to do with your incorrect protobuf setup.

[2020-03-05 09:07] hally166 commented on #9
Sadly not, it is still failing on installing flowCore@master from GitHub
[code]
cytolib 1.9.17
RProtoBufLib 1.9.7

[2020-03-05 09:22] DillonHammill commented on #9
Hmmm... Did you install from BioC first then GitHub?

[2020-03-05 09:32] hally166 commented on #9
Yes.  I just tried `install_github("RGLab/flowCore", dependencies = TRUE)` just in case, but still with the same error.

[2020-03-05 09:40] DillonHammill commented on #9
Did you try uninstalling and reinstalling everything as @mikejiang suggested?

[2020-03-05 10:24] hally166 commented on #9
Several times, including deleting all the packages.  Also tried having 4.0 and 3.6.2 installed one at a time.  This current one is a fresh install from 2 hours ago.
flowCore 1.53.11 installs from bioconductor 3.11, just not from GitHub, but then only in R 4.0, where flowWorkspace won't compile 😭

[2020-03-05 19:35] mikejiang commented on #9
Again, github version is meant for linux users to build from source. For windows/mac users, there is prebuilt binaries available from bioc devel, which serves the very purpose in your case. It is typically only one-day behind the github (due to the delay of bioc nightly build cycle)

[2020-03-06 00:17] DillonHammill commented on #9
@mikejiang, should I recommend that users install R4.0 and install the BioC devel packages for now? Do we still need to setup libxml2 and protobuf to get packages to build from here?

[2020-03-06 00:38] mikejiang commented on #9
Installing binary from bioc does not require libxml2 and protobuf

[2020-03-06 00:40] DillonHammill commented on #9
Ok and do we need clang and gfortran for mac?

[2020-03-06 00:41] mikejiang commented on #9
Again, if installed from bioc as binary, no compiler is required

[2020-03-06 00:43] DillonHammill commented on #9
Ok great! Thank you I will update the install instructions to use R4.0 and BioC-devel so that you don't get bombarded with installation issues. Thanks for your help!

[2020-03-06 01:39] NDasyam commented on #9
@DillonHammill

Sorry for the delay in replying , I had to work with our IT team who have the admin rights and I installed what you suggested and got all the dependencies loaded for our Mac systems

I used the following to get them all installed , after using the three links you had suggested I use

BiocManager::install("cytolib")
BiocManager::install("flowCore")
BiocManager::install("flowWorkspac

[2020-03-06 01:50] DillonHammill commented on #9
I am working on it now. You will need the development versions of these packages but the GitHub versions are not compiling. I will let you know once I have ironed out the install instructions.

[2020-03-06 02:01] NDasyam commented on #9
Thank you and thanks for your earlier advice as well!!

[2020-03-11 02:09] DillonHammill opened #10 "Problem installing RProtoBufLib on Mac"
Installing RProtoBufLib on mac fails with this error:
[code]

This issue can be resolved by running the following commands in the terminal.

First get homebrew (press return, enter password and hit return again):
[code]
Then get GNU autoconf:
[code]

Now installing RProtoBufLib succeeds on mac:
[code]

[2020-03-12 21:27] northNomad commented on #7
Sorry for delaying on this -
Caught up by something else these past weeks.
Will make sure to update this weekend.

[2020-03-12 23:36] DillonHammill opened #12 "Update CytoExploreR Installation Instructions"
In order to make installation of RGLab dependencies easier for Windows users, users can instead opt to install R devel (R4.0) and install all the pre-compiled RGLab binaries from BioConductor-devel. Note that this method relies on package binaries being available (which may not always be the case) and package updates to the github versions will only be reflected in the BioConductor versions a day

[2020-03-13 14:35] northNomad commented on #12
Hey @DillonHammill ,

Thank you again for the development - it's such a powerful package.

I think it'd be beneficial to have a section on how to update the package from console.
For example, when ```cyto_gate_draw()``` was released, (due to my own inexperience), I didn't know how to quickly update the package and there was no instruction readily available.
So I uninstalled R and re-installed ever

[2020-03-13 15:12] northNomad opened #13 "cyto_gate_draw() - Does not show popup window in Rnotebook or markdown"
As titled.

1. When using ```cyto_gate_draw()```
In console: gives a popup window for manual gating.
In script: gives a plot in plotting environment for manual gating.
In Rmd: nothing shows up and the code finishes running (ie, no red stop hexagon in console).

2. If I have a ```gatingTemplate.csv```  and its corresponding .fcs files in a ```flowSet``` -
How do I quickly reproduce the gating set?

[2020-03-13 17:47] DillonHammill commented on #13
@northNomad, `cyto_gate_draw` is used to initially draw the gate. If you already drawn the gate  it has been saved to the gatingTemplate. I comment out the `cyto_gate_draw` calls after running them (i.e. set eval = FALSE in Rmd). I would copy these lines and run them in the console directly, Rmd does not allow gating, it will just give a plot. FYI to include the plot in Rmd you can save the image

[2020-03-14 01:26] DillonHammill commented on #12
The BioConductor binary for flowClust is now available, so you should not have issues installing this package unless you accidentally indicate that you want to install the source package.

[2020-03-14 01:43] DillonHammill opened #14 "How to Update CytoExploreR"
In the event that new updates are made to CytoExploreR and you would like to update your version of the package, you can follow these instructions:

1. Check what updates have been made to the package by looking at the changelog on the [CytoExploreR](https://dillonhammill.github.io/CytoExploreR/news/index.html) website. This will document any changes made to the package and can help you decide if

[2020-03-14 17:47] northNomad opened #15 "Specifying directory when creating new gatingTemplate?"
Almost always - we're working with .fcs files stored in multiple directories.
It makes sense to store the ```gatingTemplate.csv``` file of each gating set in their corresponding .fcs folder.

Currently, when we use ```cyto_gatingTemplate_create()```, the file is created in the current working directory.
This is far from ideal because it doesn't make sense to store all the gatingTemplate.csv in one

[2020-03-14 21:05] Mieszkol opened #16 "Logic gates"
Hi Dillon,
Great work here! However, I can't find any information about logic gates (tried using standard R operators). Is there a possibility to use them in your software?

Mieszko

[2020-03-14 21:22] DillonHammill commented on #16
@Mieszkol, yes this is fully supported!

At the moment `cyto_gate_draw()` only supports negated and boolean gates through its negate argument. This will automatically take care of the boolean entry in the gatingTemplate.

Boolean gates are supported in openCyto, which means that you can add them to your gatingTemplate as well! To interactively add boolean gates to your gatingTemplate you can use `

[2020-03-14 21:31] DillonHammill commented on #15
@northNomad, just supply the path in the filename and it will create the gatingTemplate in that directory. For example, if I wanted to create a gatingTemplate in a folder called "Samples":
[code]

However, I would not mix other files with your fcs files as it will cause problems with `cyto_setup()`. I will need to update `cyto_setup()` to ignore other file types when loading in the samples.

I wil

[2020-03-14 21:43] northNomad commented on #15
Thanks for the clarification -

Appreciate it lots.
NN

[2020-03-14 21:43] #15 closed

[2020-03-14 22:07] Mieszkol commented on #16
Thank you so much for an immediate answer! It works like a charm!

[2020-03-16 10:40] hally166 commented on #9
Hi Dillon,
I am getting very very close after following your instructions in #12

However (1), I think using the binary option only installs the binary and not the dependecies, so I had to drop that option.
However (2), flowWorkspace will only install from source, and only after individually updating "matrixStats", "glue", and restarting R, but these are probably random locked packages on my R ins

[2020-03-16 10:53] hally166 commented on #9
After stepping back and reading the error I can recreate the error message mentioned when loading flowWorkspace.
[code]

[2020-03-16 11:04] DillonHammill commented on #9
@hally166 you are almost there! This is to do with the `remotes` package, it now tgrows an error when installing packages that generate warnings. You can turn thus off as follows:
[code]
And then try installing CytoExploreR again and you should be good to go!

FYI I gave recorded an installation video with these instructions, I will post it tomorrow.

[2020-03-16 11:21] hally166 commented on #9
Fantastic.  It's now installed.
Thank you for all the help.
Now time to analyse some data.

[2020-03-16 11:21] hally166 commented on #9
Fantastic. It's now installed.
Thank you for all the help.
Now time to analyse some data.

[2020-03-16 11:23] hally166 commented on #9
Follow #12 and run `Sys.setenv(R_REMOTES_NO_ERRORS_FROM_WARNINGS="true")` as mentioned above.

[2020-03-16 11:23] #9 closed

[2020-03-16 11:24] DillonHammill commented on #9
Excellent! I would start by following the Getting Started vignette fir a broad overview:
https://dillonhammill.github.io/CytoExploreR/articles/CytoExploreR.html

Let me know if you need any help :)

[2020-03-17 01:00] DillonHammill commented on #12
**Install CytoExploreR on mac OS X**

1. Install the latest public release version of [r](https://cran.r-project.org/bin/macosx/). The latest version is currently R-3.6.3.
2. Install Xcode developer tools from the [App Store](https://apps.apple.com/us/app/xcode/id497799835?mt=12).
3. Open the terminal and run `xcode-select --install` to install command line tools.
4. Install mac OS toolchain  y in

[2020-03-17 03:13] DillonHammill commented on #15
@northNomad, for now you can manually exclude your gatingTemplate when running `cyto_setup`:
[code]

[2020-03-17 09:16] hally166 commented on #12
`install_github` does not build the vignettes.  You should use the `build_vignette = TRUE` parameter to do this.  However when doing this the following error appears:
[code]

[2020-03-17 09:23] DillonHammill commented on #12
I will look into this, but all the vignettes are nicely formatted on the webite any way. Look under the Articles tab:
https://dillonhammill.github.io/CytoExploreR/

[2020-03-17 11:11] hally166 commented on #12
Hi Dillon,
You have added support for `openCyto.minEvents = -1`, but this is only available in the GitHub version of openCyto, not the bioCManager version. Installing as described causes the `cyto_setup` command to fail.

[2020-03-17 11:14] DillonHammill commented on #12
Can you post the error in a new issue?

[2020-03-17 11:21] hally166 opened #17 "unused argument (openCyto.minEvents = -1) error"
Hi Dillon,
You have added support for openCyto.minEvents = -1, but this is only available in the GitHub version of openCyto, not the bioCManager devel version. Installing as described in your documentation causes the cyto_gate_draw command to fail. Using the GitHub master of openCyto works.
The error I get is (which I also get with my own data):
[code]
I initially thought it was to do with the $FI

[2020-03-17 11:23] hally166 commented on #12
done, and it was the cyto_gate_draw command. I need to neaten up my notebook.

[2020-03-17 11:28] DillonHammill commented on #17
That makes more sense! Yes I think this change may not be reflected in the BioC build yet.

[2020-03-17 11:52] hally166 opened #18 "cyto_spillover_compute: 3 arguments passed to .Internal(unlink) which requires 4"
I am getting this error when computing spillover with both cytoExploreRData data and my own data.  I'm not sure why.  The plotting, gating, and generated % seems to work, but it fails at the last step.
[code]

[2020-03-17 16:50] jacobpwagner commented on #17
Hmm, by the last commit hash, Bioconductor shows that it should have https://github.com/RGLab/openCyto/commit/c4afb3ad5109d27a382a06d7d3be3e463399c0f3, and it passed its checks, so it should be in the newest available binary. Looking in to it now.

[2020-03-17 17:41] jacobpwagner commented on #17
Sure enough when I install from BioC devel, the commit is not yet there. It could just be a delay on Bioconductor's end, but I added a version bump after some more recent changes just to be safe. So hopefully this should be included sometime in the next few days.

[2020-03-17 19:53] DillonHammill commented on #17
Thanks @jacobpwagner!

[2020-03-18 23:58] DillonHammill opened #20 "Feature Demo: Manual Gating Based on Specific Samples"
In `CytoExploreR`, samples are pooled prior to plotting to generate a single consensus plot for gating. Users are also able to overlay specific samples through the `overlay` argument, such as FMO controls to aid in setting gates. CytoExploreR also has support for selecting which samples should be merged prior to plotting, so that users have control over which samples they use for gating. Since thi

[2020-03-19 11:27] Biomiha commented on #8
Hi Dillon,

I also use SCE objects for CyTOF data. The benefits are that it holds both assay (i.e. in this case exprs but can hold others) information along with reduced dim information in one object. It supports matrices, data.frames and delayed arrays as input. Subsetting of cells also subsets the reducedDims slots, etc.  I can see a scenario where a single SCE object holds the raw data, the tra

[2020-03-21 00:31] DillonHammill commented on #17
This should now be resolved, I will add the updated openCyto version to the dependencies.

[2020-03-21 00:31] #17 closed

[2020-03-21 03:19] #13 closed

[2020-03-21 03:19] #10 closed

[2020-03-21 11:30] MikhaelManurung commented on #8
Sorry for the late reply @DillonHammill. @Biomiha explains the advantages of SCE object quite well. And I concur that this package (I finally managed to install it!!) is great at what it is trying to do. I can just export gated populations into separate fcs files when I want to do things in packages that accept SCE object as input.

Best wishes,
Mikhael

[2020-03-21 11:30] #8 closed

[2020-03-21 11:34] MikhaelManurung opened #21 "Automatic gating in CytoExploreR"
Hi Dillon,

How can I do automatic gating within the `cyto_gate_draw` function?

Or is there any method equivalent to the CytoRSuite's implementation?
[code]

Best,
Mikhael

[2020-03-21 11:38] DillonHammill commented on #21
Hi Mikhael,

Yes this method still works. But now you can use `cyto_gatingTemplate_edit` to interactively add entries into the gatingTemplate. The gates will automatically be applied to the samples when the table editor is closed. Just supply your GatingSet and gatingTemplate:
[code]

[2020-03-23 05:50] DillonHammill opened #22 "CytoExploreR 1.0.4 Docker"
The new release of CytoExploreR has an accompanying docker image that can be pulled from docker hub. Docker provides an easy way to provide a consistent pre-built environment (e.g. R, RStudio and package dependencies) to run CytoExploreR without having to install R, RStudio or any package dependencies. This pre-built environment (or docker image) is available for download from docker hub and can b

[2020-03-23 14:07] #21 closed

[2020-03-23 22:42] DillonHammill opened #23 "Context Menus & Data Editors Not Working on Docker Image"
The interactive context menus and data editors in CytoExploreR use capabilities of the host machine which are not being passed to the docker container.

I will be switching all context menus and data editors to use a rhandsontable shiny interface so that these features work universally.

**Benefits**
- shiny interface is more attractive.
- provide a consistent frame work for editing data in CytoEx

[2020-03-28 22:48] northNomad commented on #7
I've uploaded an example:

1. The .csv file is the ```gatingTemplate```.
2. The ```R script``` is code to reproduce the example. Set up the gating set with the ```7 fcs files``` and apply the ```gatingTemplate```.

https://github.com/northNomad/cyto_plot.Troubleshoot/tree/master/exampleFiles

NN

[2020-03-29 00:03] DillonHammill commented on #7
Thanks I will take a look when I get some time.

[2020-03-30 10:47] DillonHammill commented on #23
All data menus and editors have now been upgraded to use rhandsontable. This update is included in version 1.0.5.

[2020-03-30 10:47] #23 closed

[2020-04-01 03:26] DillonHammill commented on #22
**Mounting a Drive to Access Local Files**

Despite the fact that a docker image exists for CytoExploreR, it is still recommended that users try to install the package locally to have access to the full capabilities of the package. Nevertheless, if you would like to use the CytoExploreR docker image to analyse your own data, this is how you can mount a local drive to the CytoExploreR docker contai

[2020-04-01 14:32] hally166 opened #24 "cyto_plot_compensation : Error in x[[z]] : subscript out of bounds"
I get the following error when running though the tutorial:
[code]
I am using:
[code]

[2020-04-01 14:33] hally166 commented on #18
This appears to now be fixed.

[2020-04-01 20:13] DillonHammill commented on #24
Thanks for reporting! This should now be fixed.

[2020-04-01 20:13] #24 closed

[2020-04-02 02:29] DillonHammill opened #25 "Install CytoExploreR R Release (>=3.5)"
Some of you Windows users may experience issues installing CytoExploreR on R-devel as the development version of Rtools (Rtools40) is required for Rhdf5lib. I do not recommend using Rtools40 yet as it may impact the installation of other packages. In this case I would recommend installing on your current R version by following these instructions:

**Install CytoExploreR on Windows R >= 3.5**
1. In

[2020-04-04 12:12] stefankolling opened #26 "cyto_gate_draw: show line connecting last placed point to mouse cursor"
Hi Dillon,

I've just stumbled about your project a few days ago and am working my way through the vignettes right now. First of all, thanks a lot for coming up with CytoExploreR - it's an excellent starting point for me to move from manual gating in FlowJo to a hybrid manual/automated gating with the openCyto framework and eventually migrate to fully automated gating (hopefully)!

A future featur

[2020-04-04 20:22] DillonHammill commented on #26
Thanks for using CytoExploreR @stefankolling!

Unfortunately, due to the fact that the plots are not live in R, this feature is not possible at the moment. With a little practice you will be a pro in no time!

The best way to do it is to draw a gate with `cyto_gate_draw` and then change `draw` in that call to `edit`. This will display the old gate as a guide and let you make fine adjustments (re-d

[2020-04-04 20:22] #26 closed

[2020-04-05 09:22] stefankolling commented on #26
Thanks, I appreciate the answer! Resorting to cyto_gate_edit is exactly what I did, but I didn't know R well enough to understand that there was a reason for this feature not being present.

Keep up the great work!

[2020-04-06 22:16] DillonHammill commented on #25
@stefankolling, with the devel version of BioC becoming the release version next month, the RGLab is hard at work getting their packages ready for this change. During this period, I suspect that there will be a lot of changes made that may temporarily impact your ability to do certain tasks.

I would recommend back tracking to older versions of these packages where things work more reliably. Here

[2020-04-07 15:08] stefankolling commented on #25
@DillonHammill Thanks heaps! I backtracked to the older versions following your instructions step by step, but unfortunately R still crashes when calling flowjo_to_gatingset() of the CytoML package. At this point, I got curious and set up your docker image to check if it works there. Surprisingly, when I use RStudio in docker and run `library(CytoML)`, the R session immediately crashes (this does

[2020-04-08 03:40] DillonHammill opened #27 "FEATURE DEMO: Complex cyto_plot layouts"
`cyto_plot` now has support for more complex layouts, not just the traditional equally sized grid layouts, Here is example where I pull out the Stim-D treatment group and create a new multiplot layout:

[code]

![Test](https://user-images.githubusercontent.com/28646736/78741907-ed858b80-799d-11ea-9b79-8024c3329a54.png)

[2020-04-08 04:41] Andyroo1966 commented on #27
Nice!

[2020-04-08 23:55] ClaudiaMY commented on #27
That looks fantastic! I've also just realised you have created the cyto_select function. That will be so handy!!!!!

Not to be ungrateful, but I was wondering if there was a way to get the plots to share axis labelling? For example, in your graphs above, the CD4 and CD8 T cell histograms are both for CD69 and it would be great to save a bit of space and remove the x-axis for the CD4 plot.

[2020-04-09 00:16] DillonHammill commented on #27
@ClaudiaMY, you could simply set `xlab=NA` to remove the label, but this will not change the plot margins. Margins can be modified through `par("mar")` but since this is being set within `cyto_plot`, you will be unable to change space around the plot. In order to do this I would have to add a `margins` argument to `cyto_plot` so that you can pass on your custom margins. I will play around with thi

[2020-04-09 00:20] ClaudiaMY commented on #27
Cheers!

On a similar vein, if the plots were side by side instead of one atop another, would it be possible to remove one of the labels and offset the other x-axis label to be centred between the two plots?

[2020-04-09 00:22] DillonHammill commented on #27
That may be possible, but it won't be pretty...

[2020-04-09 00:31] DillonHammill commented on #27
@ClaudiaMY, here is a workaround for the meantime that will get you close to what you want:

[code]

Set `option("cyto_plot_grid" = TRUE)` to allow customization of plot margins using `par("mar")` for the next plot. Remember to set this back to `FALSE` after each plot!

[2020-04-09 00:35] ClaudiaMY commented on #27
Awesome! Sounds good! I'll look forward to the new margins argument!

[2020-04-09 03:39] DillonHammill commented on #27
@ClaudiaMY, a `margins` argument has been added to `cyto_plot` to allow you to change the spacing around plots. See below example where I generate a complex layout with additional customization:

[code]
![Custom-Layout](https://user-images.githubusercontent.com/28646736/78855511-6dc3f380-7a67-11ea-8130-26c90a5a8757.png)

Notice how I set the `xlim` to be the same for both 1-D density plots and rem

[2020-04-10 04:39] #18 closed

[2020-04-16 01:41] DillonHammill opened #29 "FIt-SNE Installation"
[FIt-SNE](https://github.com/KlugerLab/FIt-SNE) is supported in CytoExploreR, but requires some additional configuration steps in order to work correctly. These platform-specific configurational steps are outlined below:

**Windows**
1. Download the windows binary from this [link](https://github.com/KlugerLab/FIt-SNE/releases/download/v1.2.1/FItSNE-Windows-1.2.1.zip).
2. Extract the contents of th

[2020-04-16 07:10] DillonHammill opened #30 "FIt-SNE CytoExploreR Docker"
Current docker images install the necessary libraries to allow use of FIt-SNE, but it seems these have been installed into an inaccessible directory in RStudio server.

Perhaps moving these files to the `home` directory will fix this issue?

[2020-04-16 07:27] DillonHammill commented on #30
Looks like we may be able to add the files using `COPY` commands in the dockerfile. Let's see if the following works:
[code]

[2020-04-16 17:12] northNomad opened #31 "Error while creating quadrant gate - Error in names(gate_list)"
Hi,

When I try to create a quad-gate, I run into this error.
Am I doing something wrong?

Thanks lots in advance.
[code]

[2020-04-16 21:15] DillonHammill commented on #31
Thanks for reporting @northNomad, this has now been fixed. Please pull down the latest version of CytoExploreR:
[code]

[2020-04-16 21:15] #31 closed

[2020-04-17 09:58] gombosim opened #32 "integral of a histogram"
Hi,
I'd like to get the integral of histograms. Is it possible in your package? I could not find the solution yet.

[2020-04-17 10:06] DillonHammill commented on #32
@gombosim, can't believe I have never thought about adding this feature!

I could see if I could add it to `cyto_stats_compute()`. I will play around with it and get back to you.

[2020-04-17 11:42] gombosim commented on #32
Thanks for the quick reaction and effort.
Actually I use the whole package for analyzing data from high content microscopy. This includes not only cell cycle but level and localization of different proteins. So I could use it for different things.

[2020-04-22 03:44] DillonHammill commented on #32
That is really cool! Never thought CytoExploreR would be used for this!

I am looking into the possibility of adding this feature, I can see some potential issues. I will let you know how I go.

[2020-04-22 03:46] #14 closed

[2020-04-22 11:40] gombosim commented on #32
Oh, It was a long journey while I'm found the R and your package. I tried lot of software for flowcytometry analysis with tons of functions, but all of them lacked some of the features I wanted to use. And these were not so sophistacated things, just simple like changing the scale of the final histogram, or overlay presentation. One was always missing:) So let me know you that you did a great job

[2020-04-23 07:17] DillonHammill commented on #30
FIt-SNE is now configured to work automatically inside CytoExploreR Docker images! Current Docker images use FIt-SNE version 1.2.1 which now uses PCA initialization by default.

[2020-04-23 07:17] #30 closed

[2020-04-23 07:22] DillonHammill commented on #22
CytoExploreR now automatically builds and pushes docker images to docker hub whenever updates are made to the package on GitHub.

Docker images are now tagged `latest` for the latest build and also with the package version (e.g. v1.0.7). All docker images are built using the latest versions of the RGLab packages (at the time).

Versioned docker images allow users to go back in time to older versio

[2020-04-23 07:22] #20 closed

[2020-04-23 07:23] #27 closed

[2020-04-23 08:16] DillonHammill opened #33 "FEATURE DEMO: Dimensionality Reduction Using cyto_map()"
CytoExploreR has full support for PCA, tSNE, FIt-SNE, UMAP and EmbedSOM dimensionality reduction algorithms through the `cyto_map()` function. The demo below demonstrates how to combine dimensionality reduction with manual gating to classify populations.

The first steps are exactly the same as conventional cytometry data analysis using manual gating (i.e. load samples, apply compensation, transfo

[2020-04-23 09:04] algebio opened #34 "This operation is supported only when you are connected to the server."
Hi

I'm trying to connect through Docker following the steps on Issue #22. I've done it before and I didn't have any issue. I have checked that I have the container using docker container ls but this time, when I do localhost:8787 I'm getting this message: This operation is supported only when you are connected to the server.

Probably it's something obvious that I'm missing but I can't see what.

[2020-04-23 09:46] DillonHammill commented on #34
@algebio, can you paste the output of the following:
[code]
What OS are you running the container on?

[2020-04-23 11:25] algebio commented on #34
Hi
I use Windows 10

H:\>docker container ls
CONTAINER ID        IMAGE                   COMMAND             CREATED             STATUS              PORTS                    NAMES
a70ab051c9f1        dhammill/cytoexplorer   "/init"             23 seconds ago      Up 22 seconds       0.0.0.0:8787->8787/tcp   magical_agnesi

[2020-04-23 11:33] DillonHammill commented on #34
Have you tried replacing localhost with `127.0.0.1`? Was the `localhost:8787` working before for you?

[2020-04-23 11:45] algebio commented on #34
H:\>localhost:127.0.0.1
This operation is supported only when you are connected to the server.

localhost:8787 was working fine last time I tried (about 2 weeks ago)

[2020-04-23 11:46] DillonHammill commented on #34
Sorry I meant `127.0.0.1:8787`

[2020-04-23 11:49] algebio commented on #34
H:\>localhost:127.0.0.1:8787
This operation is supported only when you are connected to the server.

H:\>127.0.0.1:8787
This operation is supported only when you are connected to the server.

[2020-04-23 11:50] DillonHammill commented on #34
And that is in a browser right?

[2020-04-23 11:55] algebio commented on #34
No, that was the command prompt (I knew this was going to end up in a very embarrassing way). I just tried on a browser and works fine. Thank you for your help and sorry for wasting your time. I need to sleep more.

[2020-04-23 11:55] #34 closed

[2020-04-23 11:57] DillonHammill commented on #34
No problem, glad that you got it working. That is the only thing to run in the browser, everything else in the instructions is run from the command prompt.

[2020-04-25 07:29] DillonHammill opened #35 "Installation Error: openCyto multiple methods tables for 'plot'"
[code]
Failure to install is due to `remotes` converting warnings to errors. This can be fixed by setting the following environment variable and re-installing CytoExploreR:
[code]

[2020-04-28 12:02] Mieszkol commented on #7
Hi,
I've got a similar problem to northNomad. After setting up some preliminary gates, I gated on CD2 and CD56 using a rectangle gate:

Then I wanted to plot some histograms using the 2D gates I already made but the percentages were off

![1D](https://user-images.githubusercontent.com/61295680/80483950-36a27d00-8957-11ea-8dd6-6c46cc1266b8.png)
![2D](https://user-images.githubusercontent.com/612956

[2020-04-28 12:15] DillonHammill commented on #7
Very strange. I have never seen statistics over 100%. Do you mind providing some code so that I can reproduce this? I will look into this in detail tomorrow to see if I can figure out what is going on.

[2020-04-28 12:41] Mieszkol commented on #7
![1D](https://user-images.githubusercontent.com/61295680/80488102-217d1c80-895e-11ea-8f6c-375aa928c363.png)

![2D](https://user-images.githubusercontent.com/61295680/80488119-28a42a80-895e-11ea-9909-b08677af86c5.png)

I guess something is wrong with stacking. Anyway, here is the code:

[code]

[2020-04-28 12:50] Mieszkol commented on #7
I guess something is wrong with stacking, without it everything looks good. However, I still wonder what's the cause for differences between upper-middle plots (90.7 vs 90.6). display = 1 in both cases.
![1D](https://user-images.githubusercontent.com/61295680/80488518-be3fba00-895e-11ea-838a-7f5ae42537c0.png)
![2D](https://user-images.githubusercontent.com/61295680/80488527-c0a21400-895e-11ea-95b9

[2020-04-29 02:23] DillonHammill commented on #7
I have found the bug! Working on a fix now. Please avoid using the `density_stack` feature until this is fixed.

[2020-04-29 03:49] northNomad commented on #7
Thank you so much for being amazing

[2020-04-29 05:32] DillonHammill commented on #7
@northNomad & @Mieszkol, I just pushed the fix for the statistics in stacked density distributions. This was a really tricky bug to find, so thank you for reporting this.

Please install the latest version from GitHub:
[code]

Or update your docker image from the command prompt/terminal:
[code]

This feature is designed to help give a quick visualization of the data in 1-D without having to draw a

[2020-04-29 16:25] northNomad commented on #7
@DillonHammill

The problem appears to be fixed.
I ran my previous error example files and it's working perfectly now!

2D:
![image](https://user-images.githubusercontent.com/60832021/80620672-4a5fe900-8a14-11ea-8da5-6bd5a9c6aa0c.png)

1D:
![image](https://user-images.githubusercontent.com/60832021/80620703-5350ba80-8a14-11ea-8b91-23380165377b.png)

Thanks a lot again @DillonHammill @Mieszkol

[2020-04-29 17:22] DillonHammill commented on #7
Fantastic!

[2020-04-30 09:22] Biomiha opened #36 "Error using cyto_markers_edit with custom marker details file"
Hi Dillon,

I seem to be getting an error in v 1.0.6. if I try to either use cyto_setup or cyto_markers_edit by providing a new path name for the file to save the details to.

    cyto_markers_edit(gs, file = "T_cell_marker_details.csv")

I get:

Error in dt[, c("name", "desc")] :
  object of type 'closure' is not subsettable

[2020-04-30 09:32] DillonHammill commented on #36
@Biomiha, can you please include a screenshot of editor if it opens? I would also recommend an update to v1.0.7 when you get time, it includes some important bug fixes.

[2020-04-30 09:34] Biomiha commented on #36
@DillonHammill the editor doesn't open at all. I'll update and let you know.

[2020-04-30 09:34] DillonHammill commented on #36
I do see the same error on v1.0.7. I will work on a fix now.

[2020-04-30 09:48] DillonHammill commented on #36
Thanks for reporting @Biomiha, there was in fact a lingering typo in `cyto_markers_edit()`. This should now be fixed. Please install the latest version of CytoExploreR and try again:
[code]

I will double check to make sure that I did not make the same error in `cyto_details_edit()`.

[2020-04-30 09:50] DillonHammill commented on #36
`cyto_details_edit()` works as expected.

[2020-04-30 09:53] Biomiha commented on #36
Thanks @DillonHammill. This now works as expected.

[2020-04-30 09:53] #36 closed

[2020-04-30 10:45] Mieszkol commented on #7
Hi, for me the problem is also fixed. Thank you so much for such a fast response!

[2020-04-30 10:51] DillonHammill commented on #7
Excellent! Thanks again for the reporting this.

[2020-04-30 10:51] #7 closed

[2020-05-01 13:57] Biomiha opened #37 "error in load_cytoset_from_fcs when emptyValue = FALSE"
It seems that load_cytoset_from_fcs doesn't actually accept the emptyValue argument. When I read in a set of fcs files using `read.flowSet(fcs_files, emptyValue = FALSE)` this works but when I try the same with `load_cytoset_from_fcs(fcs_files, emptyValue = FALSE)`, I get the following error:

Error_ in fcs_to_cytoset(sapply(files, normalizePath), list(which.lines = which.lines,  :
  Empty keyword

[2020-05-01 19:17] Biomiha commented on #37
Just realised `load_cytoset_from_fcs` is actually part of flowWorkspace. Apologies.

[2020-05-01 19:17] #37 closed

[2020-05-01 22:23] DillonHammill commented on #37
The CytoExploreR wrapper for this is `cyto_load()` which calls these functions internally. `cyto_load()` is called inside `cyto_setup()` to read in the files. All exported CytoexploreR functions are prefixed with `cyto_`.

[2020-05-02 06:20] Biomiha commented on #37
I get the same issue with `cyto_load`, e.g.:

`cyto_load(path = fcs_files, select = list.files(fcs_files, pattern = "fcs"), emptyValue = FALSE)`

Error in fcs_to_cytoset(sapply(files, normalizePath), list(which.lines = which.lines,  :
  Empty keyword name detected!If it is due to the double delimiters in keyword value, please set emptyValue to FALSE and try again!

[2020-05-02 06:41] DillonHammill commented on #37
That is to be expected, the same function is being called.

Have you tried looping through the files individually and calling `load_cytoframe_from_fcs()`. Perhaps the argument is not being passed on to this function from `load_cytoset_from_fcs()`?

[code]

[2020-05-02 06:49] Biomiha commented on #37
I still get an error:

    files <- list.files("fcs_files", pattern = "fcs", full.names = TRUE)
    cf_list <- lapply(files, function(file){load_cytoframe_from_fcs(file, emptyValue = FALSE)})
    cs <- cytoset(cf_list)

Error in parseFCS(normalizePath(filename), list(which.lines = which.lines,  :
  Empty keyword name detected!If it is due to the double delimiters in keyword value, please set empty

[2020-05-02 07:05] DillonHammill commented on #37
If `read.flowSet()` works just use this and then conver the flowSet to a cytoset if you need to:

[code]

I would still file an issue on flowWorkspace as well, so that this can be fixed.

[2020-05-02 07:07] Biomiha commented on #37
Yes. This works as well.

    files <- list.files("fcs_files", pattern = "fcs", full.names = TRUE)
    cf_list <- lapply(files, function(file){read.FCS(file, emptyValue = FALSE)})
    cs <- cytoset(cf_list)

[2020-05-02 22:34] Biomiha opened #38 "FEATURE DEMO:How to control overlay behaviour"
Hi Dillon,

I've been struggling to get a handle on how the overlay feature decides how many events to plot with regard to the main population. We've got a GatingSet with 4 samples of ~2.5M cells each. We've also got index files (roughly 5000 cells in total) from cells that were sorted from these 4 samples. What I'd like is to be able to do is to downsample only the tubes samples when gating but p

[2020-05-02 23:15] DillonHammill commented on #38
@Biomiha, this is a known issue. The sampling within `cyto_plot()` is quite complex. At the moment `cyto_gate_draw()` has its own sampling logic, which needs to be updated. I will work to make these the same and report the outcome here. I will however, not allow sampling per layer - the same level of sampling must be applied to all layers within the same plot.

[2020-05-04 10:46] Biomiha commented on #38
@DillonHammill I've looked at the source code and I think I get what's going on. The overlay is appended to the cytoset and then the dowsampling is performed on the total number of cells, which would explain some of the "randomness" of the number of overlaid points being plotted. For some reason (or it might be just our dataset) the "root" layer seems to be exempt from this behaviour.
I am tempted

[2020-05-04 22:16] Biomiha opened #39 "Gate on 1 sample apply gate to rest"
Hi @DillonHammill,

Is there a way of using cyto_gate_draw on one sample in the GatingSet and then applying the gate to the rest of the samples. I've got a very, very big gs that takes a long time to merge before plotting and essentially I'd like to replicate what FlowJo does, in that you pick a "representative example" for gating and then copy analysis to group.

Currently, I've devised a somewha

[2020-05-04 22:26] DillonHammill commented on #39
@Biomiha, this is what the `select` argument is for. Either pass a vector of indices of samples to use or supply experimental parameters in a list. This will pull out and merge only the selected samples for plotting.

[code]

[2020-05-04 22:33] DillonHammill commented on #39
There are some major updates coming that should improve the plotting speed. I will try and finish this off today.

[2020-05-05 06:08] Biomiha commented on #39
@DillonHammill yes, of course. Thanks for the explanation. Sorry for the silly question.

[2020-05-05 06:50] DillonHammill commented on #39
Happy to help. The `select` argument works with `group_by` as well so you can use a subset of samples for each group too.

[2020-05-05 06:50] #39 closed

[2020-05-05 07:07] DillonHammill commented on #37
For anyone else experiencing the same problem this has now been fixed. If you need this feature you will need the latest versions of `cytolib` and `flowWorkspace`.

[2020-05-08 02:12] DillonHammill opened #40 "Improve cyto_plot plotting speed"
Looking at the time profiling of cyto_plot, it is clear that the merging of samples and plotting points are the most computationally taxing steps. However, the calculation of axes ranges also takes a considerable amount of time (particularly when plotting many samples). This is due to the fact that all samples are being used for this calculation - which I think is important and should not be chang

[2020-05-08 02:16] DillonHammill commented on #40
I have just pushed the update to `.cyto_range()`, which will improve the plotting speed of `cyto_plot()`. The updated docker image(s) will be available in the next couple of hours.

[2020-05-08 02:45] DillonHammill commented on #39
@Biomihs see issue #40 for ways to improve plotting speed without changing `display`.

[2020-05-08 19:01] Biomiha commented on #39
Thanks @DillonHammill I'll pull the latest version and give it a whirl.

[2020-05-08 19:29] Biomiha opened #41 "FEATURE DEMO: generate gatingTemplate from parsed workspace for use with CytoExploreR"
Hi @DillonHammill,

I've seen some similar issues on openCyto before but am not sure if that was ever resolved. I would like to export existing gates from a parsed diva workspace to a gating template for use with CytoExploreR.
The initial part involves CytoML

    ws <- open_diva_xml("20200422_myxmlfile.xml")
    gs <- diva_to_gatingset(obj = ws, name = 3, subset = 1, worksheet = "normal")

This g

[2020-05-08 21:12] DillonHammill commented on #41
@Biomiha, this is on my list of things to do. Formatting the gates for the gatingTemplate is complex and it is not something that I would do manually. I am going to add a `cyto_gatingTemplate_generate()` which will create a CytoExploreR gatingTemplate from a GatingSet.

[2020-05-10 06:55] DillonHammill commented on #41
@Biomiha, I have just added `cyto_gatingTemplate_generate()` to obtain a CytoExploreR-ready gatingTemplate from an established `GatingHierarchy` or `GatingSet`. This should work fine for all gate objects (including quadrant gates) and boolean filters. It is likely that I may need to revisit this issue in the future, so I will put some notes here as a reminder:

**Notes:**
- Reference gates will be

[2020-05-10 18:04] Biomiha commented on #41
Many thanks @DillonHammill. The output itself looks exactly what I was hoping for. Oddly enough, however, I get an error when running on my imported gating set.
The error I get is:

`Error in .getFullPath(this_row[, parent], new_dt) :
  Not able to to find reference to: P1`

P1 is the first population gated from root but I can still find it in the output gatingTemplate.csv. Looks like some kind of

[2020-05-10 21:02] DillonHammill commented on #41
@Biomiha, are you able to share the output csv file and your GatingSet (privately) so I can troubleshoot tgis?

[2020-05-10 21:19] Biomiha commented on #41
@DillonHammill unfortunately I'm not able to share this dataset but I'll see if I can replicate the error on some public data and share that.

[2020-05-10 21:23] DillonHammill commented on #41
How about just the gatingTemplate?

[2020-05-10 21:57] DillonHammill commented on #41
@Biomiha, this should now be fixed! Please pull down the latest version of CytoExploreR and let me know how you go.

[2020-05-10 22:05] Biomiha commented on #41
👍
Thanks @DillonHammill

[2020-05-10 22:05] #41 closed

[2020-05-10 22:33] DillonHammill commented on #41
This means that you can now import any data using CytoML and analyze it with CytoExploreR. It will also make it easy to compare the results between software.

[2020-05-11 02:54] DillonHammill commented on #40
I have just added support for `scattermore` in `cyto_plot()`. This feature is turned off by default for the reasons outlined above, but can be turned on by running:

[code]

Users will need to manually install `scattermore` to use this feature. It is recommended that default plotting be used when saving images to obtain the highest resolution possible. To return to use conventional plotting run:

[2020-05-11 02:54] #40 closed

[2020-05-11 14:11] Biomiha commented on #33
Hi @DillonHammill,

If possible would you be able to add the {uwot} implementation of UMAP? In my experience the performance gains compared to the pure R version are significant and it also seems to be (probably for the same reason) the more popular choice in the literature.

Thanks.

[2020-05-11 14:31] northNomad opened #42 "Cannot make factor levels in cyto_details()"
Hi,

When using ```cyto_plot``` with the ```group_by``` argument, it is almost always desired to re-level the grouping factors so the plots are in the correct order.

However, when I do
[code]
[code]

Many thanks in advance,
NN

[2020-05-11 20:53] DillonHammill commented on #42
@northNomad, unfortunately yiu cannot set factor levels for `cyto_details()` anymore. Instead you need to supply the desired levels within `cyto_plot()`:

[code]

[2020-05-11 21:06] DillonHammill commented on #33
@Biomiha, I think what I will do is allow a function to be passed through the `type` argument so that you can use any function you like. I want to avoid adding excess dependencies to CytoExploreR.

[2020-05-12 03:34] northNomad commented on #42
Thanks for the pointer!

[2020-05-12 03:34] #42 closed

[2020-05-13 05:35] DillonHammill commented on #33
@Biomiha, you can now pass the name of any function to the `type` argument of `cyto_map()` to perform custom dimensionality reduction and the standard options are still supported. Here are some examples:

**Use a custom mapping function (developers):**
Developers can create their own function that can be passed to `cyto_map()` directly. The only requirement is that the function must accept a matri

[2020-05-16 06:28] DillonHammill opened #43 "FEATURE DEMO: Parse file names to experiment variables"
In order to reward users that appropriately name their FCS files and to promote good file naming practices, I have added a new function `cyto_names_parse()`. This function will split each file name by a delimiter and add each chunk as a separate experiment variable in `cyto_details()`. This will save users a lot of time manually entering these details. This is how it works:

First, you need to dec

[2020-05-16 15:24] northNomad commented on #43
I’m going to love this so much!
Thank you so much DH!

[2020-05-16 21:13] rwbaer commented on #43
Great feature!

[2020-05-16 21:36] rwbaer opened #44 "Channel Selector, Channel field is too narrow; make wider"
**Is your feature request related to a problem? Please describe.**
Can observe from getting started demo.  The right side channel dropdown selections are hidden unless they are less wide than the widest selected one.  The channel field width only updates when an item from the selection list is entered.

**Describe the solution you'd like**
I wish the channel field width was set to the widest chann

[2020-05-17 23:58] rwbaer opened #45 "Error in plot.new() : figure margins too large"
**Briefly describe what you hope to achieve:**
Replicating the Getting Started vignette.

**Outline the steps taken to attempt to reach this goal (paste code below):**
[code]
I don't understand why the error occurred or what I might do to avoid it.  Any insights?

[2020-05-18 00:25] DillonHammill commented on #45
@rwbaer, this warning is just telling you that there is not enough space to construct all the plots. You can increase the plotting space by increasing the size of the plots pane in RStudio. Otherwise you can call `cyto_plot_new(popup = TRUE)` to open a new pop-up window. This window can then be maximized before calling `cyto_plot_compensation()`.

[2020-05-18 00:39] DillonHammill commented on #44
@rwbaer, I have added the ability to manually resize columns for the channel selector. Simply hover your mouse over the right border of the column name, and then click and drag to resize the column. Note that this feature is not currently available for the experiment details editor or other data menus, but this is in the works.

[2020-05-18 00:39] #44 closed

[2020-05-18 19:44] rwbaer opened #46 "Error: Single cells not found! Spill Editor"
**Briefly describe what you hope to achieve:**
Sorry to be so noisy ...

I am having trouble understanding the "persistence" requirements of many of the cyto_xxx commands.  For example, knowing what .csv files SHOULD exist and what .csv files SHOULD NOT exist.  In the code snippet below from the overview tutorial, I have already created a Compensation-gatingTemplate.csv file with single cells in i

[2020-05-18 20:27] DillonHammill commented on #46
@rwbaer, R is case sensitive so make sure that you are supplying the correct name for the population (i.e. Single Cells versus single cells). You can check the names of the nodes using `cyto_nodes(gs)`.

For various reasons, the channel selections are only retained after running `cyto_spillover_compute()`, which should always be run before `cyto_spillover_edit()` or `cyto_plot_compensation()`.

[2020-05-18 23:24] rwbaer commented on #46
Probably not case-sensitivity issue which I clear on.  I'm was careless at typing  :(   It probably is my repeating your code in an  unfortunate order in an effort to understand what is going on.   Your vignettes are VERY well written and easy to copy and paste.  It is my learning that is struggling.

Here is Compensation-gatingTemplate.csv, and id does have Single Cells row.
[code]

So Single Cel

[2020-05-19 00:04] DillonHammill commented on #46
The gatingTemplate is created as a by-product of `cyto_gate_draw()` to keep a record of the gating scheme. `cyto_gate_draw()` will automatically update the GatingSet with the gates as they are constructed. If you already have the gatingTemplate, there is no need to re-draw the gates using `cyto_gate_draw()`, instead you can just apply the gatingTemplate to the GatingSet directly:

[code]

If a gat

[2020-05-19 00:05] #45 closed

[2020-05-19 12:50] rwbaer commented on #46
This helps immensely.  Thanks.  You might consider extracting your nice explanation and making it a part of a "design considerations" or "workflows" document for new users like me, once you accumulate more questions like this.  I'll go read about cyto_gatingTemplate_apply() and look at the function list again to get a better feel for what might be available.

[2020-05-19 12:50] #46 closed

[2020-05-19 13:03] rwbaer commented on #45
I thought I thanked you yesterday, but apparently I never hit comment.

As a follow-up, how do you personally manage the huge number of plot windows that can be/are created during manual cytometry processing.  Do you use RStudio notebooks?  Are they effective?  Is there a way to co-opt shinny like you did for the spillover editor so we could have a tabbed set of figures?  It seems you cannot detac

[2020-05-19 23:31] rwbaer opened #47 "cyto_gate_draw() Error in RStudio notebook"
**Describe the bug**
Perhaps this is not a bug and is just an incompatibility issue, in which case it could be considered a feature request.  It would be nice to use CytoExploreR in RStudio notebooks as a way to neatly organize copious output.

But ...

Run this in a notebook and it produces an error [the code chunk code is swallowed here]
[code]

**EDIT**:  As a workaround, I tried putting this c

[2020-05-19 23:45] DillonHammill commented on #47
@rwbaer, RStudio notebook and Rmarkdown do not support pop-up graphics devices, and therefore these cannot be using for gating. I did add the option to gate in the RStudio graphics device by setting `popup = FALSE` in `cyto_gate_draw()`, you could try that to see if it works. Generally speaking, there is an expectation that rendering documents/notebooks should proceed without user intervention.

I

[2020-05-19 23:49] rwbaer commented on #47
Sounds like a use-able workaround.  Thanks

[2020-05-19 23:51] rwbaer commented on #47
I'll presume you saw my edit about trying to source this plot command into a regular R script.  The drawing goes okay, but there is no way to terminate it.  Is this a limitation or can it be fixed?  I'll not close this yet, so I'm sure you are aware of the edit.

[2020-05-19 23:57] DillonHammill commented on #47
Have you tried pressing `ESCAPE`?

[2020-05-20 00:01] DillonHammill commented on #45
@rwbaer, the plots can also be assigned to R objects and recalled later if that helps?

[code]

I think it is easy enough to save the images you want using `cyto_plot_save()`, I discard any other images.

[2020-05-20 00:05] DillonHammill commented on #47
FYI this should only affect polygon gates, so other gate types will work fine :)

[2020-05-20 18:40] rwbaer opened #48 "cyto_load behavior - Windows 10"
**Briefly describe what you hope to achieve:**
I am trying to load a series of .fcs files located in a network folder that may or may not contain only .fcs files.  The plan would be to use cyto_save to put them in a subfolder of the current RStudio project.

Using method one, I seem to load only a single file in my list.  Using method 2, I get an error purportedly related to path normalization.  I

[2020-05-20 18:49] rwbaer commented on #48
This may be a bug based on:
[code]

[2020-05-21 15:48] rwbaer opened #49 "Experimental Details Editor doesn't like row elimination"
**Briefly describe what you hope to achieve:**
Context: started with cyto_setup() procedure in preparation for a 2 channel spill correction scenario.

I was trying to use the experimental details editor to eliminate two files in a folder that were unnecessary for 2 channel spill correction.  The editor provides the opportunity to right click and delete row.  I did so.  However, it seems unhappy if

[2020-05-21 16:04] rwbaer commented on #48
Since you may not be a windows user and may not know this, Windows works just fine with paths that use the forward slash. When you are writing cross-platform this greatly simplifiess things.

IF, you choose the backslash character in R, you need to escape it.  Why my paths revert to the Windows backslash standard here, I don't understand.  Even worse, the single backslash will fail (at least in R;

[2020-05-21 20:43] DillonHammill commented on #49
@rwbaer, this operation is not supported and probably never will be. It is too easy to accidentally remove files this way.

Use `cyto_select()` to pull out a subset of files and then pass them to the spillover functions.

If you don't want the files at all, use the `exclude` argument in `cyto_setup()`.

[2020-05-21 20:46] DillonHammill commented on #48
I will look into this when I get time. I wrote these functions with the expectation that the files would be located in folders in the current working directory and not some foreign location.

[2020-05-21 21:09] rwbaer commented on #49
- I completely missed the exclude argument to cyto_setup()  Sounds perfect.
- cyto_select() sounds like another reasonable approach that works.  Thanks for that solution too.

- As to the behavior of the _**Experimental Details editor**_ that we are automatically forced to interact with during cyto_setup(),  I do not understand its purpose if we can't/shouldn't edit anything.  Why does it support

[2020-05-21 21:23] DillonHammill commented on #49
@rwbaer, if you don't want the editors to open set `markers = FALSE` and `details =FALSE` in `cyto_setup()`.

Column deletion is fine, but the name column should not be edited. I will put some restrictions on this so that this is more clear.

[2020-05-21 22:05] rwbaer commented on #49
Ahhh....  '...more columns...'
This aspect of cyto_setup() likely will be much more interesting/important when I finally get beyond spillover and gate setup and begin analyzing unknown samples with potentially  more columns and fields that could need editing at setup time .
I'm still walking (limping); not running but each insight helps.

[2020-05-21 22:38] DillonHammill commented on #48
@rwbaer this should now be fixed. Please pull down the latest version of CytoExploreR and try again:

[code]

[2020-05-22 15:36] northNomad commented on #39
Hey @DillonHammill ,

In this case, only the selected gatingHeirarchy have those gates.
What if the purpose is to apply those gates to all gatingHeirarchies within the gatingSet?

For example, if one wants to gate on the unstained sample (boundaries become difficult to discern once samples are pooled) and apply that to the rest?

Best,
NN

[2020-05-22 15:44] rwbaer commented on #48
Unfortunately, updating did not seem to improve things.  I talked a lot about path construction above which may have distracted you from noticing the first way I tried to use the cyto_load() function

[code]
Note that there are 4 files in the directory, but cyto_load() only loads the first one.

Repeating the second way I tried to use it, the result seems just the same.
[code]

[2020-05-22 15:50] northNomad commented on #43
@DillonHammill
I was under the impression that this feature has been released.
Cannot seem to find the function after updating.

Am I wrong or this is for the next update?

Best & Thanks so much,
NN

[2020-05-22 16:20] rwbaer commented on #48
I have looked more carefully at the output of the second method:
[code]

The hint about path normalization is a 'red herring'.  The problem is that cyto_load is trying to access a subdirectory included in the path as if it is one of the files that meets the pattern ".fcs"  It is the existence of the "./Protocol" subfolder that seems to be triggering the error even though this does not match the pa

[2020-05-22 21:11] DillonHammill commented on #48
@rwbaer, the `select` and `exclude` arguments were originally written to accept file extensions only. For example, this works:
[code]

I have updated the handling of the `select` and `exclude` arguments to appropriately handle file names as well. Try the latest CytoExploreR and let me know how you go.
[code]

[2020-05-22 21:19] DillonHammill commented on #43
@northNomad, it is definitely there if you pull down the latest `master` branch. Note that the version is still at `1.0.7` until I finish of a couple of additional updates. Try pulling it down again and checking that `cyto_names_parse` shows up in the list of functions when the package is installing.

[code]

[2020-05-22 23:02] #49 closed

[2020-05-22 23:03] rwbaer commented on #48
Hmmm... i was taking it that select and exclude were looking for files that met or excluded a match to a regular expression.
Anyway, here is the behavior with your syntax if the folder in question contains a subfolder

[code]

If the subfolder is removed, but a Readme.txt file is left behind:
[code]
If both subfolder and readme.txt are removed, it works as expected:
[code]

My understanding was th

[2020-05-22 23:13] DillonHammill commented on #48
Sorry there was a typo that I missed, should work now hopefully.

[2020-05-22 23:37] rwbaer commented on #48
Looking like we have a winner ...

[code]

[2020-05-22 23:37] #48 closed

[2020-05-22 23:38] DillonHammill commented on #48
Excellent! Glad to see that it works now!

[2020-05-25 01:23] stefanucci-luca opened #50 "gatingTemplate in cyto_gate_draw doesn't output"
**Describe the bug**
I tried to use `gatingTemplate` when exporting the gates drawn by `cyto_gate_draw()`, but I don't get any output.

**To Reproduce**
library(CytoExploreRData)

fs <- Activation
gs <- GatingSet(fs)

gs <- compensate(gs, fs[[1]]@description$SPILL)

trans <- estimateLogicle(gs[[4]], cyto_fluor_channels(fs))
gs <- transform(gs, trans)

gt_gating(Activation_gatingTemplate, gs)

cyto

[2020-05-25 01:54] DillonHammill commented on #50
@stefanucci-luca, please can you show me the output of:
[code]

I suspect that CytoExploreR thinks that you are using a different gatingTemplate.

[2020-05-25 02:03] DillonHammill commented on #50
Works fine on my end, I think you may need to tell CytoExploreR that you want to use "Example-gatingTemplate.csv":
[code]
Now all subsequent gates should be saved to `Example-gatingTemplate.csv`.

NOTE: `cyto_setup()` performs these steps behind the scenes, so if you have called `cyto_setup()` previously and indicated a gatngTemplate, you will need to tell CytoExploreR to switch gatingTemplates us

[2020-05-25 02:33] DillonHammill commented on #50
Also check that you are looking in the correct directory:
[code]

[2020-05-25 10:44] stefanucci-luca commented on #50
Hi Dillon,

Thanks for your prompt reply.

The goal of this short script is to create the gates for a new experiment and saving them. I've followed your suggestion above, so manually created the gating template and selected it (the file is created in `getwd()`). The function `cyto_gatingTemplate_active()` now print the correct gates.
However, if I run this:
[code]
I get the error message:
[code]
I

[2020-05-25 23:12] DillonHammill commented on #50
@stefanucci-luca, I am struggling to reproduce this on my end. Everything works as expected when running your code on my windows machine. I haven't encountered this issue on mac either.

I checked the code and you should not need to `cyto_gatingTemplate_select()` or `cyto_gatingTemplate_create()` calls when supplying a gatingTemplate manually to `cyto_gate_draw()`.

You definitely need a call to `

[2020-05-25 23:18] DillonHammill commented on #39
Sorry @northNomad only saw this now. Not exactly sure what it is that you are asking, but if you wanted to use the unstained control to set the gate and then apply the gate to all samples:

[code]
This will pull out the unstained control for plotting and the constructed gate(s) will be applied to all samples. In this case I am selecting the control by file name, but you could also add another vari

[2020-05-25 23:23] northNomad commented on #39
Wow thank you @DillonHammill I'm embarrassed -
Cannot believe I've never realized there's a select argument for ```cyto_gate_draw```, I've been doing it wrong...

Appreciate the help as always!

[2020-05-25 23:25] DillonHammill commented on #50
Perhaps it is a file accessibility issue. Make sure that you don't have the file open in another program when you are drawing the gate(s).

[2020-05-26 23:43] stefanucci-luca commented on #50
Hi @DillonHammill

I understood what is the problem.

It the `x` in `cyto_gate_draw()` has
[code]
then gatingTemplate is not writing any output. If the
[code]
then gatingTemplate works.

However, if the class is `"GatingSet"` I can't use a particular sample (e.g `x[[1]]`) to set the gate. If I run:
[code]
I get this error message:
[code]
If I run the same command above but with class (`"cytoset"`)

[2020-05-27 00:02] DillonHammill commented on #50
That is correct, the cytoset method does not write to the gatingTemplate, but instead returns the gate objects. You can only use `gatingTemplate` with GatingSet objects. You need to use GatingSet objects if you want to save the gates to the `gatingTemplate`.

[2020-05-27 00:16] stefanucci-luca commented on #50
Thanks for your answer @DillonHammill.
So, How can I set a gate on a specific sample? e.g. use the unstained sample to set the gate.

[2020-05-27 00:33] DillonHammill commented on #50
See my comments on issue #39.

[2020-05-27 18:20] rwbaer opened #51 "Multiplex Bead separation"
**Briefly describe what you hope to achieve:**
- I am trying to work my way through a multiplex experiment that I have previously looked at in FCS Express.  There are 2 bead populations (a and B) that are separated on size.  Each bead population has 6 or 7 Abs that capture cytokines, and are separated by gating in one channel (FL4).  The amount of capture is then read in a second channel (FL3).  F

[2020-05-27 22:52] rwbaer opened #52 "Transform help"
**Briefly describe what you hope to achieve:**
Trying to preform a default transformation and get an error I can't decipher

**Outline the steps taken to attempt to reach this goal (paste code below):**
- Include all data preparation steps where appropriate.
[code]
When i look at the parameters for cyto_transform() I don't see anything with names like w or m and I can't figure out how to drill dow

[2020-05-28 01:02] DillonHammill commented on #51
@rwbaer, the scales look weird because you have transformed the data multiple times. Make sure that you only apply the transformations once or inverse the transformations before apply new ones. CytoExploreR has a number of `cyto_transformer()` functions for this purpose, they allow you to tweak the transformation parameters before applying them to your data. For consistency, these functions are wr

[2020-05-28 01:02] #51 closed

[2020-05-28 01:04] DillonHammill commented on #52
See comments on issue #51 about the `cyto_transformer()` functions. It is common to encounter this error with the logicle transformation and it can be difficult to fix. I would considering using a biexponential transformation in this case.

[2020-05-28 01:04] #52 closed

[2020-05-28 01:05] #50 closed

[2020-05-28 01:05] #47 closed

[2020-05-28 15:39] stefanucci-luca commented on #39
Hi Dillon,

I'm trying to select one sample to gate and apply that gate to all, but I keep having the error message
[code]
For instance in this script all the gating are written in the gatin_template.csv file:
[code]

However when I run the command:
[code]
I get the error mentioned above.

Any help?

[2020-05-28 16:23] rwbaer commented on #51
Very helpful as always and the example workflow is terrific.  Thanks for taking the time to explain things and sharing the workflow.  This will help me inch my way along.  I remain really excited about your project.  Wish I was better at interrogating S4 objects so I din't have to bother you so much.

I'll try to work on understanding how transforms relate to flowsets, gating sets, plots, and work

[2020-05-28 20:14] DillonHammill commented on #39
@stefanucci-luca, this looks like a bug in plotting 1D gates. I am busy re-writing `cyto_plot_gating_scheme()` from scratch and I will make sure that I fix this as well. The new update should be available early next week.

[2020-05-29 13:31] rwbaer opened #53 "Parsing of underscore in Experiment Markers Editor"
**Briefly describe what you hope to achieve:**
Using the .fcs files from my S3 Flow sorter, I get default entries in the marker channel for time that duplicate because the underscore terminates parsing and the full channel name is not passed to the marker column.  This results in a duplicate label error.  Also, not sure about the resulting message, "Trying to assing the ..."  Is there a typo?

**O

[2020-05-29 21:26] DillonHammill commented on #53
@rwbaer, that is a funny typo. Ut is supposed to say "Trying to assign the marker TIME- to multiple channels". Basically, the markers must be unique for each channel and `TIME-` is being assigned to the first two channels. Modify these to be unique in the editor and you should have no issues.

[2020-05-29 21:27] #53 closed

[2020-06-01 15:23] rwbaer commented on #53
This is a "user-fixable" issue, as you point out, and so "will not fix" is possibly an appropriate response. However, I consider this a "workaround " for the reported problem which was the default assignment of Time- to the Marker column.  It was not me that provided that "Time-" value in two rows, but perhaps the default marker column values are generated outside your code.  There is a parser som

[2020-06-03 13:52] rwbaer opened #54 "cytolib version loading"
**Describe the bug**
Don't know if this is directly related to your namespace, but the current master seems to have an issue with cytolib loading (version requirment via flowWorkspace)
**To Reproduce**

[code]

[2020-06-03 20:47] DillonHammill commented on #54
Read the error message, your `cytolib` requires updating to use the latest `flowWorkspace`. Install `devel` version from BioC or GitHub.

[2020-06-03 20:47] #54 closed

[2020-06-03 20:59] rwbaer commented on #54
The issue was that I was locked out from doing so.   I had to uninstall multiple packages to get flowWorkspace to update, but it ultimately involved MANUALLY updating cytolib from git which seemed already to have been added from the cytoExploreR update.

This may be a transient issue involved with the dynamics of development, and I did get it working, but I thought it worth reporting because all I

[2020-06-03 21:03] DillonHammill commented on #54
`cytolib` is not a direct dependency of `CytoExploreR` and will therefore not be automatically updated. Whenever you want to update your RGLab packages, you will need to update `cytolib` first.

[2020-06-03 21:12] rwbaer commented on #54
Ahhh...  good to know.  The update process starts and the compiling goes on for quite some time making it hard to know who is doing what.

[2020-06-05 18:27] northNomad commented on #43
Worked previously but could not run the same chunk of code anymore,
[code]
Can you still use the function by passing a ```gs``` on your end?

Best,
NN

[2020-06-05 20:16] rwbaer opened #55 "Removing unused channels"
**Outline the steps taken to attempt to reach this goal (paste code below):**
My goal is simply to remove unused channels from my gating set.  I first tried setting restrict = TRUE in cyto_setup() but I must not have used it properly.  I then tried cyto_channels_restrict() before reading help and learning it was for flowFrames and flowSets and not gating sets..  In my example the only gates are on

[2020-06-05 21:35] DillonHammill commented on #55
`cyto_channels_restrict()` will keep all channels that show up in `cyto_markers()`. If you don't want a certain channel, remove its marker assignment using `cyto_markers_edit()`. I suspect that you may have a marker assigned to every channel.

[2020-06-05 21:53] DillonHammill commented on #43
@northNomad, `cyto_names_parse()` automatically updates the `cyto_details()` and returns the data. See code in first comment, you should assign the output to `gs` not `cyto_details(gs)`.

[2020-06-06 00:44] rwbaer commented on #55
Thanks again for your help.  Understanding a little better each day ...

You are correct that I have all my channels as markers.   I'm doing something wrong when I use cyto_markers_edit() though.  I am right clicking and removing rows to get rid of unwanted channels, but that results in an error.  Should I be manually editing "Experiment Markers.csv" instead?  Is there a basic setup I need to do f

[2020-06-06 01:06] rwbaer commented on #55
The workings of the editor upon row removal is much like described for issue **_Experimental Details Editor doesn't like row elimination #49._**  In fact, the same "error message" typo shows up if you try setting multiple markers  to NULL.  [Just a stupid idea ...]

[code]

[2020-06-06 01:08] DillonHammill commented on #55
Sorry I should have been clearer. Don't delete the row just delete the text in the marker column (i.e. leave the entry in the marker column empty).

[2020-06-06 01:16] rwbaer commented on #55
This has not been working for me.  (which is why I tried the NULL bit)  Could I be doing this at the wrong time in the overall sequence.  I have tried leaving just the channels of interest at cyto_setup() time as well, but it doesn't seem to help.

Is the message a hint to delete the .csv before getting to this step?  I'm lost about who controls what.
If I delete BOTH the channel AND the marker it

[2020-06-06 01:20] DillonHammill commented on #55
I will look into this and get back to you.

[2020-06-06 01:34] DillonHammill commented on #55
@rwbaer, I have just pushed an update to `cyto_markers_edit()` which should fix this issue. Please pull down the latest CytoExploreR (no need to update RGLab packages):

[code]

[2020-06-06 20:14] rwbaer commented on #55
Something still seems amiss.  The plot produced by the code below still seems to produce graphs for all channels, despite removing many channels. cyto_markers() seems to return an object of class NULL.  'Experiment__Markers.csv' has NA for channels I deleted in editor.

![image](https://user-images.githubusercontent.com/3155051/83953719-2314ec80-a808-11ea-93ea-d1a98532186b.png)

![image](https://u

[2020-06-06 21:25] DillonHammill commented on #55
Looks like your CytoExploreR install is corrupt. Try a force re-install:
[code]
Also you need to give `cyto_markers()` your samples in order to check marker assignment.
[code]

[2020-06-07 14:34] Mieszkol opened #56 "Applying FCS-integrated compensation"
Hi Dillon,

Is there a way to apply FCS-integrated compensation matrix to the gating set? It'd be really helpful!

Best
Mieszko

[2020-06-07 23:55] DillonHammill commented on #56
@Mieszkol, this is already supported by `cyto_compensate()`. If you do not supply the name of a spillover matrix csv file to `spillover`, the spillover matrix attached to the first sample will be applied to all samples by default. You can control which matrix is applied through the `select` argument, and you can set `select = NULL` to apply the spillover matrix attached to each fcs file. I would b

[2020-06-09 13:15] Mieszkol commented on #56
It works, thank you!

[2020-06-09 13:15] #56 closed

[2020-06-09 14:48] Chris8886 commented on #16
@DillonHammill I tried to follow the instructions above but I keep getting an error:
`Error in `.rowNamesDF<-`(x, value = value) : invalid 'row.names' length`
I guess it's caused by adding a new row to create a boolean gate entry? Could you help me with that?

[2020-06-09 17:07] DillonHammill commented on #16
@Chris8886, I can give you a hand if you provide either the gatingTemplate or tree structure (e.g. screenshot `cyto_plot_gating_tree()`)  and tell me what you hope to achieve.

[2020-06-09 17:09] Chris8886 opened #57 "Error in fcs_to_cytoset"
Hey Dillon,
Amazing job with the CytoExploreR!

Unfortunately, I've got a problem when using cyto_setup(). It is seems to work for me only when I'm using it for the first time in a given folder. So essentially, every time I close R I can't load my gs again because I get this error:
`Loading FCS files into a GatingSet...
Error in fcs_to_cytoset(sapply(files, normalizePath), list(which.lines = which

[2020-06-09 17:24] Chris8886 commented on #16
Thank you!

Let's say I want to create a gate with all CD56dim cells positive for any KIR. I tried to add following entry (last row)

`

alias | pop | parent | dims | gating_method | gating_args | collapseDataForGating | groupBy | preprocessing_method | preprocessing_args
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
Cells | + | root | FSC-A,SSC-A | cyto_gate_draw | gate = list('Combined Events'

[2020-06-09 17:25] DillonHammill commented on #57
@Chris8886, `cyto_setup()` expects that the folder only contains valid FCS files, it does not explicitly check for this as some older files do not carry the FCS extension. It is on my list of things to improve, but for now you can tell it to ignore irrelevant files by passing the extensions to the `exclude` argument:
[code]

[2020-06-09 17:33] Chris8886 commented on #57
@DillonHammill Solved, thank you!

[2020-06-09 17:33] #57 closed

[2020-06-09 17:34] DillonHammill commented on #16
@Chris8886, in this case you should be able to leave the `dims` entry empty. If you replace `OR` with  `|` in the `gating_args` it should work. Remember valid operators include `|` , `&` and `!` for `OR`, `AND` and `NOT` respectively.

[2020-06-09 17:38] Chris8886 commented on #16
@DillonHammill Unfortunately I still get the same error (I use function "Insert row below" when editing)

[code]

[2020-06-09 17:40] DillonHammill commented on #57
I will update the logic in `cyto_load()` so that any files with an extension that is not `FCS` are excluded from the loading process.

[2020-06-09 17:45] DillonHammill commented on #16
@Chris8886, you may need to manually delete the `KIR+` row in the template, reload the data, re-apply the gatingTemplate and then try to edit it. I think I will add a new `cyto_gate_bool()` function to handle these sorts of entries for you.

[2020-06-09 17:52] Chris8886 commented on #16
@DillonHammill I can't delete that `KIR+` row because it isn't saved in the first place. A new function would be great!

[2020-06-09 23:18] rwbaer commented on #55
I thought I had posted earlier, but apparently I forgot to click comment.  Sorry.

Bottom line is that after carefully reinstalling everything there is still an issue.  The graph returns all channels, and cyto_markers(gs) lists the full set, and not the marker-reduced set I'm trying to get (refer to previous comment).

A clue might be that cyto_markers(gs) returns the deleted markers as "NA" rathe

[2020-06-09 23:40] DillonHammill commented on #57
@Chris8886, I just pushed an update to `cyto_load()` to exclude files that do not contain a valid file extension by default. Hopefully this won't cause any problems. The only potential issue I can see is if a valid file lacks an FCS extension and the file name contains a dot, any text after the dot will be treated as the file extension (and hence the file will seem invalid). I think this is unlike

[2020-06-09 23:56] DillonHammill commented on #55
@rwbaer, can you outline the steps that you took to get to this point? Presumably you used `cyto_setup()` with `restrict = TRUE` and when the editor opened you simply deleted the markers that you don't want (i.e. left those cells empty)? If you manually set these as NA they will be quoted - I will update this to convert these to proper NAs in case others try to do the same.

[2020-06-10 00:07] DillonHammill commented on #55
I see the issue now, working on a fix.

[2020-06-12 00:47] DillonHammill commented on #55
@rwbaer, this should now be fixed. It required some changes to flowWorkspace so you will need to update both flowWorkspace and CytoExploreR before trying again:
[code]

[2020-06-12 16:28] rwbaer commented on #55
Wonderful.  Think this is fixed now.  Closing.  There are after-effects that I will open separately.

[2020-06-12 16:28] #55 closed

[2020-06-12 17:05] rwbaer opened #58 "TIME channel and cyto_spillover_edit() failure"
**Briefly describe what you hope to achieve:**
I reduced the channels by deleting all markers except FL3-AREA and FL4-AREA.  I also renamed TIME_LSW to TIME in the marker column.  I deleted marker column cells for FSC and SSC as well because the documentation suggested this would be ignored.

When I run cyto_spillover_compute(gs) , a spill matrix seem to be properly generated for FL3-A and FL4-A,

[2020-06-12 21:37] rwbaer opened #59 "clean argument in cyto_setup"
**Briefly describe what you hope to achieve:**
**Current issue**
I wish to set the clean argument to TRUE in cyto_setup.  When I do so it produces an error that I can't immediately interpret.  Not sure what "FileType no found" might mean.

**Future issue:**
The result of setting the 'clean' argument to TRUE seems to be to call flow_auto_qc() in the flowAI package.   Looking at the help for this fu

[2020-06-13 06:28] DillonHammill commented on #58
@rwbaer, I think this is caused by recent changes I made to `cyto_channels()` to allow more control over character string matching through the `select` and `exclude` arguments. I have updated this to work better now and to keep the default at ignoring the character case. If you need to do exact character matching, this is now supported too, just set `fixed = TRUE`:
[code]
The reason the time chann

[2020-06-13 06:54] DillonHammill commented on #59
@rwbaer, `cyto_setup()` is designed to simplify the process of loading and annotating samples without making too many compromises. If you need more control over the data cleaning process, you can load the samples in first and then manually apply `cyto_clean()` which will accept all of the arguments of `flow_auto_qc()`. For example:
[code]
I have also been meaning to add support for controlling the

[2020-06-13 19:50] rwbaer commented on #59
I have NO idea.  When we first go the instrument there were not.  They appeared with a service upgrade, but there is not (or I have not been able to find) a technically oriented service manual to explain such things.  There may be something related to the sort function, but this is no more than one of my musings.

Thanks for the help.  I'll try breaking it down in steps and let you know how it goe

[2020-06-13 23:20] rwbaer commented on #58
Seems like we didn't try and get everything on same page yet. spill seems to print right, but cyto_spill_edit() still seems to see TIME channel.

cyto_markers shows the time as I'm assuming it should, but maybe not???  TIME is sort of a privileged channel like the FSC and SSC or not ???  If not, it should be in markers, but be ignored by cyto_spillover_compute (which it seems to be now) and also b

[2020-06-13 23:29] DillonHammill commented on #58
@rwbaer, looks like this fixed the issue with `cyto_spillover_compute()`, I will look into the `cyto_spillover_edit()` issue when I get time. FYI `cyto_markers()` will return all channels with markers assigned, so your TIME channel will appear there if you have an entry in the marker column.

[2020-06-13 23:31] DillonHammill commented on #58
Do you have a Compensation-Channels.csv file in your working directory before running `cyto_spillover_edit()`?

[2020-06-14 15:49] Chris8886 commented on #16
@DillonHammill Do you have any idea why a new row isn't saved when I try to manually add a boolean gate and how can I overcome it?

[2020-06-14 20:52] DillonHammill commented on #16
@Chris8886 I will have the fix up today and I will add the new `cyto_gate_bool()` function as well.

[2020-06-14 21:13] DillonHammill commented on #16
In the meantime, you could try manually entering this in the gatingTemplate (in excel) and then re-apply to samples using `cyto_gatingTemplate_apply()`.

[2020-06-15 07:17] DillonHammill commented on #55
@rwbaer, I still was not happy with the reliability of `cyto_channels_restrict()` so I re-wrote it to be more explicit. The new version removes all channels without marker assignments (except for FSC/SSC/Time parameters) as before, but now has an `exclude` argument to forcibly remove a FSC/SSC/Time parameter should you need to. This means that in your case both TIME channels will be retained by de

[2020-06-15 13:34] Biomiha opened #60 "Custom gate track for cyto_plot_gating_scheme"
Hi Dillon,

Would you be willing to support passing a vector of population paths as an argument to the `cyto_plot_gating_scheme` function? I've got a GatingSet parsed in from BD Diva that includes two boolean gates: a NOT gate and an OR gate, neither of which I am able to plot with `cyto_plot_gating_scheme`.
Specifying just the gates that have coordinates as a vector to be passed to the plotting f

[2020-06-15 16:41] rwbaer commented on #58
Here is a look at the code with cytodetails(gs) included:
[code]

The answer is yes I have a Compensation-channesl.csv
![image](https://user-images.githubusercontent.com/3155051/84682603-7e776680-aefb-11ea-9535-fccae1ace300.png)

It occurred to me that sharing the traceback might be good

[code]

[2020-06-15 18:31] rwbaer commented on #59
It seems like maybe something changed in the dependencies??

[code]

And the traceback:

[code]

[2020-06-15 19:33] DillonHammill commented on #60
@Biomiha, I am working on this as we speak and I will report back soon.

[2020-06-15 19:43] DillonHammill commented on #59
@rwbaer, I think I found the bug in `flowAI` are you able to send through an fcs file will multiple TIME parameters so that I can fix this?

[2020-06-15 19:48] DillonHammill commented on #58
@rwbaer, that is what I thought was happening. I will work on a fix, could you try supplying the bame of the Compensation-Channels.csv to the `channel_match` argument:
[code]

[2020-06-16 19:42] rwbaer commented on #58
Here is the result:
[code]
And the traceback:
[code]

[2020-06-16 19:54] rwbaer commented on #59
See if this link gets you access to c6-1.fcs: https://drive.google.com/open?id=14IvDzKTqGmDkKQ0_w88uyIfenXh9QO4n&authuser=rbaer%40atsu.edu&usp=drive_fs

[2020-06-16 21:11] DillonHammill commented on #59
Thanks I have sent an access request.

[2020-06-16 23:19] rwbaer commented on #59
I got the access request, but only hope I clicked the right things that you actually got access.  Let me know if I need to try again.

[2020-06-17 07:32] DillonHammill commented on #59
@rwbaer, as you can see I have made the required changes to `flowAI` which should be available soon. In the meantime, you can try out the update to make sure it fixes the problem:
[code]

[2020-06-17 07:45] Chris8886 commented on #16
Manual modification works. I'm waiting for a new function then, thank you for help!

[2020-06-17 07:49] DillonHammill commented on #16
Sorry @Chris8886, the new function is ready but I am working on a lot of things at the moment so it is difficult to push it right now without affecting other things, I will see what I can do. I will reopen this so it is easier to find and I will post a new demo here once I have pushed the update.

[2020-06-18 04:23] DillonHammill commented on #16
OK @Chris8886 I just merged a pull request #61 to add the new `cyto_gate_bool()` API which will add boolean gates to the GatingSet and make relevant entries in the gatingTemplate. For example, using the Activation GatingSet and a gatingTemplate called "Activation-gatingTemplate.csv", we could add a boolean gate to encompass the CD4 T Cells and CD8 T Cells:

[code]

As you can see it works in a sim

[2020-06-18 10:20] Chris8886 commented on #16
@DillonHammill Thank you, it works really nice. Every time I use it I get a warning but the function itself works anyway.

`Warning message:
In if (grepl("root/", node)) { :
  the condition has length > 1 and only the first element will be used`

I'm waiting for a copy gate feature then, it's great that you're working on it, very useful!

[2020-06-18 10:22] DillonHammill commented on #16
Thanks I will fix this tomorrow and add the new `cyto_gate_copy()` function as well.

[2020-06-18 11:13] Mieszkol opened #62 "Exporting statistics of samples selected by experiment variables"
Hi Dillon,

Did you consider adding a possibility of selecting samples to export statistics by using experiment variables? The same way you can do it for gating? To be precise, using` select = `argument in `cyto_stats_compute()` as in `cyto_gate_draw()`. E.g.:

[code]

Best
Mieszko

[2020-06-18 11:16] DillonHammill commented on #62
I  can certainly do that! I will try and add this tomorrow. Thanks for the suggestion, surprised I haven't already done that!

[2020-06-18 18:33] stefanucci-luca commented on #39
Hi @DillonHammill, did you have time to fix this?

[2020-06-18 20:35] DillonHammill commented on #39
@stefanucci-luca, I am still working on this - it is a lot more complex than I thought. I will have the new `cyto_plot_gating_scheme()` ready soon.

[2020-06-19 00:02] DillonHammill commented on #59
@rwbaer, these changes have now been incorporated into `flowAI`. Please pull down the latest GitHub version to see if it resolves this issue for you:
[code]

[2020-06-19 00:41] DillonHammill commented on #16
@Chris8886, I just pushed an update to `cyto_gate_bool()` to address your warnings and to add additional checks to remove excess whitespace in the boolean `logic`. This should cover the common cases where people may accidentally add spaces. Please let me know if you still see the warnings and I can take another look.

I should also mention that there is no editing mechanism for boolean gates at th

[2020-06-19 01:04] DillonHammill commented on #62
@Mieszkol, I just pushed changes to add a `select` argument to `cyto_stats_compute()`. Please pull down the latest CytoExploreR:
[code]

[2020-06-19 01:13] DillonHammill commented on #43
Just adding a comment to highlight that I also added an `exclude` argument to `cyto_names_parse()` that can be used to exclude variables in the name from inclusion in `cyto_details()`. See example below when we don't want to include the date component in the `cyto_details()`:
[code]

[2020-06-19 01:13] #43 closed

[2020-06-19 01:13] #35 closed

[2020-06-19 01:17] DillonHammill commented on #25
Development versions of RGLab packages are no longer required for CytoExploreR, you now simply get the package binaries from BioConductor:
[code]

Then install `CytoExploreRData` and `CytoExploreR`:
[code]

[2020-06-19 01:17] #25 closed

[2020-06-19 01:18] DillonHammill commented on #12
Development versions of RGLab packages are no longer required for CytoExploreR, you now simply get the package binaries from BioConductor:
[code]

Then install `CytoExploreRData` and `CytoExploreR`:
[code]

[2020-06-19 01:18] #12 closed

[2020-06-19 10:21] Mieszkol commented on #62
@DillonHammill Thank you for such a quick reaction! It works very well.

[2020-06-19 10:21] #62 closed

[2020-06-19 10:33] Chris8886 commented on #16
@DillonHammill The warnings are now gone, but unfortunately there is another problem. After closing R and reloading the GatingSet again, all the gates seem to apply succesfully but when I tried exporting statistics from boolGate based populations I got 0 value for everything (count, MFI etc.). Stats exported from regular gating-based populations were just fine. I have boolean gates based on other

[2020-06-19 10:38] DillonHammill commented on #16
Hmmm, it the bool gate present in `cyto_nodes(gs)`? If so, can you extract the population using `cyto_extract(gs, "boolname")`?

[2020-06-19 10:42] Chris8886 commented on #16
I can do both. All the boolGates are present in `cyto_nodes(gs)`. After using
`cyto_extract(gs, "/2_CD56dim+, NKG2A+, CD57-, NKG2C-, KIR-")`
I get
[code]

[2020-06-19 10:44] DillonHammill commented on #16
Are you using `stat = median`?

[2020-06-19 10:46] Chris8886 commented on #16
Yes

[code]

[2020-06-19 10:50] DillonHammill commented on #16
Can you please post the counts as well?
[code]

[2020-06-19 10:57] Chris8886 commented on #16
[code]

[2020-06-19 10:59] DillonHammill commented on #16
Are you sure that the logic is correct? Does not look like there are any events inside the gate?

[2020-06-19 11:08] Chris8886 commented on #16
Yes, I'm 100% sure. In fact I just erased all the csv files in working directory (gating template, spillover etc) and did all the manual and bool gating again without changing a thing  in the script. The stats now work but after I close the file it's the same story all over again

[code]

[2020-06-19 11:13] DillonHammill commented on #16
So when you reload the data and re-apply the gatingTemplate are there any warnings or errors?

[2020-06-19 11:20] Chris8886 commented on #16
No, it looks like that. Actually quite frequently I've got a similar bug where after reloading one of my initial gate looks empty and according to stats is empty and to fix that I have to edit it's ancestor gate - moving margins by 0.1mm works just fine.
![Screenshot 2020-06-19 at 12 09 37](https://user-images.githubusercontent.com/66681562/85127223-55bedc00-b22f-11ea-9769-d70a61da813c.png)

[code

[2020-06-19 11:22] Chris8886 commented on #16
Maybe I'll share my loading part of the script, I might have made some mistake there

[code]

[2020-06-19 11:34] DillonHammill commented on #16
@Chris8886 do you mind sending through your gatingTemplate so I can take a closer look? You can email it through to CytoExploreR@outlook.com if you like. Not sure I fully understand what is happening just yet, what do the counts look like after `cyto_setup()` and after `cyto_gatingTemplate_apply()` in the Load GS section?

[2020-06-19 11:36] DillonHammill commented on #16
Also it is probably a good idea to apply the gatingTemplate after parsing the file names, in case you used these as grouping variables when you drew the gates.

[2020-06-19 11:52] Chris8886 commented on #16
@DillonHammill I've already sent my gating template, thank you so much for help with that issue. I'm not sure I understand your questions though, the counts after `cyto_setup()` alone are all negative because there are no gates applied yet.

After `cyto_gatingTemplate_apply()` the counts are still zero but after I do that trick where I edit gate NK by moving it 1mm (it's parent gate for CD56bright

[2020-06-21 14:02] Mieszkol opened #63 "Doubling over the compensation matrix"
Hi Dillon,
I really enjoy seeing you develop your great software every day!

I've got a small problem with compensation, I guess I'm doing something wrong. When I initially load the data and use `cyto_spillover_edit()` it works well. But when I want to edit the previously made and applied compensation the software is treating the data as uncompensated and trying to update the compensation matrix r

[2020-06-21 21:31] DillonHammill commented on #63
@Mieszkol, are tge FCS files in your working directory? Looks your `cyto_setup()` call is missing the `path` argument?

[2020-06-22 00:51] DillonHammill opened #64 "FEATURE DEMO: Colour Points Based Expression of Third Parameter"
CytoExploreR v1.0.8 comes with the ability to colour points in a 2-D scatter plot based on expression of a third parameter. This feature is commonly used for identifying well separated populations in a dimension reduced space, but with some addition modifications it can be a powerful tool to locate populations in any 2D space without any prior gating. For this demonstration we will use the ungated

[2020-06-22 01:30] gringer commented on #64
Can you make this default to a viridis colour map? Red/green maps are not so accessible to colourblind people

https://cran.r-project.org/web/packages/viridis/vignettes/intro-to-viridis.html

[2020-06-22 03:34] DillonHammill commented on #64
@gringer, the `point_col_scale` was something that was set very early on the development process (even before CytoRSuite existed) but was purely for historical reasons. This is unfortunately the default colour scale for a variety of widely adopted software for cytometry data analysis (including flowJo, cytobank and FCS Express). Fortunately it is easy to change the colour palette through the `poin

[2020-06-22 04:35] DillonHammill commented on #64
Not sure if this defeats the purpose of coming up with a more visually appealing colour palette, but here is a nice palette that includes a mixture of the `viridis` palettes which performs really well in all of my testing:
[code]
![image](https://user-images.githubusercontent.com/28646736/85248657-da5e6400-b494-11ea-8f04-e216fe35929f.png)

**2D density**
[code]
![viridis-3](https://user-images.git

[2020-06-22 08:19] Mieszkol commented on #63
@DillonHammill The FCS files are there, I just use `setwd()` first to set a directory in where the FCS files are. I don't need to manually write the spillover matrix but I just prefer to have my own naming system for them hence I write my own one. Anyway, this doesn't solve the problem - I tried using the default-written compensation file and the problem persists.

[2020-06-22 09:05] DillonHammill commented on #63
Thanks, just needed to check this before I dive in heads first. I think this is likely a missed cytoframe/cytoset nuance. I will take a look at this tomorrow. I think it might be worth adding support for passing the filename through `spillover` so that you have more control over this when you are editing attached matrices.

[2020-06-23 13:43] rwbaer commented on #59
@DillonHammill , Thanks.  I tried with your version on an 8 GB machine and ran into memory sufficiency problems.  Haven't had a chance to try on a machine with more memory.  I'll try to get to this soon with a more capable machine but my 32 GB machine and try is in Windows update hell for the moment.  May try on my MacBook, but I have to do some installing first.

[2020-06-24 22:07] Mieszkol commented on #63
@DillonHammill Do you have any advice on how could I overcome this issue or should I just wait for an update?

[2020-06-24 23:16] DillonHammill commented on #63
@Mieszkol I am looking at this now, I will report back soon.

[2020-06-24 23:33] DillonHammill commented on #63
I can't seem to reproduce this on my end. Please can you run the following before you call `cyto_spillover_edit()` and paste the output here:
[code]

[2020-06-24 23:44] DillonHammill commented on #63
Just to clarify, are you running `cyto_spillover_edit()` multiple times? For example:
[code]

[2020-06-25 01:36] DillonHammill commented on #63
@Mieszkol, I just added https://github.com/DillonHammill/CytoExploreR/commit/6840d9193591107d8ae0cc53051f60e3478c293e to remove the working directory checks in `cyto_spillover_edit()` and now you can supply a name for a new spillover matrix file and edit the first attached spillover matrix:
[code]
Basically, it will check to see if `spillover` already exists and if it does it will load this matrix

[2020-06-25 08:23] Mieszkol commented on #63
@DillonHammill So the problem appears only when after running `gs <- cyto_compensate()` I try to `cyto_spillover_edit()` which is problematic in 2 situations:
- when you're first working with the data and you applied compensation but then you notice that something needs a little trimming
- when you're loading your previous work, you have to apply compensation before applying gating template (right

[2020-06-25 08:48] DillonHammill commented on #63
OK I think that this must be a problem with the method to remove the compensation within `cyto_spillover_edit()`. I am working on a new method that should resolve this issue - this should be ready tomorrow. For now I would only use samples in `cyto_spillover_edit()` that have not been compensated. Your compensation controls should never have gates in the fluorescent channels and so do not require

[2020-06-25 09:03] Mieszkol commented on #63
@DillonHammill Great! Usually, I do my compensation on the cytometer so for the analysis I only use FCS integrated spillover matrix hence the need for prior gating to exclude debris and fluorescent beads etc.

[2020-06-26 05:51] DillonHammill commented on #63
@Mieszkol, I think I have finally fixed this issue. You should now be able to edit spillover matrices using samples that may be compensated and/or transformed prior to using the spillover editor. I did also update `cyto_compensate()` to properly remove compensation when `remove = TRUE`. However, for now this feature is there for me to use internally only - I would not recommend doing this yourself

[2020-06-26 05:57] DillonHammill commented on #16
This issue has been resolved offline and was a result of applying gates prior to compensation/transformation. It is important to remember that the gates are saved to the gatingTemplate on the transformed scale and so the data must be transformed prior to applying the gatingTemplate.

[2020-06-26 05:57] #16 closed

[2020-06-26 08:27] Mieszkol commented on #63
@DillonHammill I tried to update the CytoExploreR and I never had a problem with it but this time I couldn't do it. Does it anything to do with the update?

[code]

My session info
[code]

[2020-06-26 08:31] DillonHammill commented on #63
@Mieszkol you don't need to update any other packages for this update. I would choose `None` when you are asked to update other packages.

[2020-06-26 08:42] Mieszkol commented on #63
@DillonHammill That fixed it. I checked the cyto_spillover_edit() on compensated samples and the problem seems to be fixed. Thank you so much!

[2020-06-26 11:31] Mieszkol commented on #63
@DillonHammill Unfortunately after using the function a little bit more I noticed two new issues:
- It's really hard to describe the first one because there are a lot of things going on. First, the changes of the plots don't follow the changes expected to be seen by editing spillover matrix. Also, editing spillover matrix more than once messes it up. To make it easier to reproduce please try runni

[2020-06-26 12:04] DillonHammill commented on #63
I just pushed a fix for the second case, please install the latest version and try again.

[2020-06-26 12:09] DillonHammill commented on #63
These multiple calls to `cyto_compensate()` are never going to work. There should only ever be one call to `cyto_compensate()` and it should be after `cyto_spillover_edit()`. It is also important to remember that the compensation is not removed from your starting `GatingSet`, it is just removed within `cyto_spillover_edit()` this means that if you call `cyto_compensate()` after `cyto_spillover_edi

[2020-06-26 12:43] Mieszkol commented on #63
Now the error message changed to
[code]

[2020-06-26 12:50] DillonHammill commented on #63
I will take another look tomorrow, ot is working fine on my end.

[2020-06-26 13:03] Mieszkol commented on #63
@DillonHammill Ok, sure! Your explanation makes it clear how it works. Could you suggest a solution for my problem then?

I always do compensation on the machine and I almost never look at my compensation controls again in FlowJo or CytoExploreR. The reason for that is I often work with big 16 colour or more panels with antibodies and cellular dyes and it's extremely hard to get the spillover matr

[2020-06-28 20:41] Mieszkol commented on #63
@DillonHammill I just figured that I can make another single cell gate with a different name, use it for `cyto_spillover_edit()` and remove it after adjusting compensation so I could use every time when reloading a file. Anyway, I tried reinstalling CytoExploreR and the previously mentioned error still persists.

[code]

[2020-06-29 06:01] DillonHammill commented on #62
@Mieszkol, just pointing out that I added a select argument to `cyto_plot()` as well if you would like to try it out. For example if you only wanted to plot samples treated with Stim-D:
[code]

[2020-06-29 07:17] Mieszkol commented on #62
@DillonHammill Great! Thanks for letting me know.

[2020-06-29 08:09] DillonHammill commented on #38
@Biomiha, sorry it took so long to address this issue. I have been working on a lot of things which will be released over the coming days so I would like to get this sorted out as well. I have put some notes below in case I need to re-visit this issue sometime in the future:

**Sampling in cyto_plot()**
`cyto_plot()` uses a custom version of `cyto_sample()` which performs additional scaling to mai

[2020-06-30 00:35] DillonHammill commented on #38
@Biomiha, I decided to remove the proportional sampling in `cyto_gate_draw()` and `cyto_gate_edit()`. This means that each layer will now be subjected to the same level of sampling. The sampling method in `cyto_plot()` remains unchanged. Please pull down the latest CytoExploreR and let me know how you go (shouldn't need to update RGLab packages - binaries are available on BioC if you need them):
[

[2020-06-30 01:54] DillonHammill commented on #63
This should now be fixed @Mieszkol, please pull down the latest CytoExploreR and let me know how you go (no need to update RGLab packages):
[code]

[2020-06-30 14:44] jonasmac16 opened #65 "Plotting 1d gate in 2d scatter plot"
If one creates a 1d gate by using for example mindensity in the SSC-A dimension and then wants to plot the gate in a 2d plot(FSC-A v SSC-A), the gate is plotted in the first dimension(FSC-A) instead of the correct second dimension(SSC-A)

I could not create MWE quickly but I hope these two commands with the resulting plots illustrate the issue:

This plots the incorrect gate in the FSC-A dimension

[2020-06-30 22:21] Mieszkol commented on #63
Thanks Dillon! I’ve briefly tested the update and everything looks good so far. Tomorrow I’ll have some more analysis to do and I’ll let you know how it goes.

[2020-07-02 00:42] DillonHammill commented on #65
Thanks for reporting this @jonasmac16, there was in fact a bug in the gate conversion code. I just pushed the update, please pull down the latest CytoExploreR (no need to update RGLab packages):
[code]

[2020-07-06 02:35] #59 closed

[2020-07-06 02:35] #63 closed

[2020-07-06 02:36] #65 closed

[2020-07-10 01:41] DillonHammill commented on #32
@gombosim, just putting some notes here as the next version of CytoExploreR will ship with a revamped `cyto_stats_compute()` that will include support for any statistical function. Here are some of the key points that I hope to address:

**1. cyto_stats_compute() should accept custom functions**
The `stat` argument in `cyto_stats_compute()` is currently limited to the names of supported statistics

[2020-07-10 02:33] DillonHammill opened #66 "Reduce Package Dependencies"
Now that CytoExploreR is becoming such a big package, it is time to re-consider essential dependencies to make room for supporting other cytometry packages. The following packages should be removed as dependencies:

**tibble**
- tibble package is currently required for `cyto_stats_compute()` but is not necessary - this should be removed as a dependency as described in #32.

**tools**
- only use ve

[2020-07-11 01:42] northNomad opened #67 "cyto_gate_draw() erases parent gate information in gatingTemplate.csv"
Hi,

Created a GatingTemplate and gated for >lymph >marker1

[code]

[code]

Now I erase environment and rerun my script with ```cyto_gatingTemplate_apply()```

[code]

Best,
NN

[2020-07-11 01:53] DillonHammill commented on #67
@northNomad, if you read the meesages in the first code it looks like the gates are being saved somewhere else - `./hsa_ccl_clec5a_profile.csv` and not to `gatingTemplate.csv`. I would remove the `./` in front of `gatingTemplate.csv` and it should work fine. I would also check the output of `cyto_gatingTemplate_active()` to see which gatingTemplate you are using.

[2020-07-11 02:05] DillonHammill commented on #67
The reason why this is happening is because of the internal working directory check, which was added a long time ago to prevent users from attempting to use gatingTemplates outside their current working directory. These checks have all been removed in upcoming version of CytoExploreR so this should no longer be an issue. In the meantime, if you want to turn off these working directory checks run `

[2020-07-11 11:40] gombosim commented on #32
Dear Dillon,

it seems very promising. I like your way to make the cyto_stat_compute
function more flexible. It give the possibility to calculate "anything"
with the data processed already in your package.

I am waiting for it,

best regards,
Imre

Dillon Hammill <notifications@github.com> ezt írta (időpont: 2020. júl.
10., P, 3:42):

[2020-07-11 17:01] northNomad commented on #67
Removing the ```.``` before the slash solved the problem

Spot on!
Thanks so much as always!

[2020-07-11 17:01] #67 closed

[2020-07-13 00:00] DillonHammill opened #68 "Support for counts in density distributions"
To further improve the statistical capabilities of CytoExploreR, I will be adding support for `counts` in 1-D plots (on y axis). I will be tackling this today, but I am just putting some notes here:

**Adding support for counts**
- It should be relatively straightforward to add support for counts but there will some things to consider. It is quite easy to convert the kernel density estimates to co

[2020-07-14 03:15] DillonHammill opened #69 "Support custom statistics in cyto_stats_compute()"
In line with comments on #32, I will be making some significant changes to `cyto_stats_compute()` to allow the use of custom statistical functions. This is still a work in progress but it is likely that custom functions will need to operate at the flowFrame/cytoframe level instead of the at the level of the raw data as described in #32. This is because it is often desirable to have more control ov

[2020-07-14 07:00] DillonHammill commented on #69
The above implementation expects a single statistic per parameter but that may not always be the case. Here is the definition of a custom quantile function (quantiles are now natively supported - this is just an example):
[code]

Now if we call this function within `cyto_stats_compute()` to calculate the 5th and 95th quantile:
[code]

Running the `cyto_quantile()` function will return a matrix of

[2020-07-20 08:31] siveenks opened #70 "cyto_plot_explore function plots are not grouped together"
**Briefly describe what you hope to achieve:**
I was trying to use the cyto_plot_explore function.

**Outline the steps taken to attempt to reach this goal (paste code below):**
I have a gating set, which had gates drawn with CytoExploreR. I can generate grouped plots with cyto_plot_profile and cyto_plot_gating_scheme, where all the plots are generated as a single image. But, for cyto_plot_explore

[2020-07-20 09:46] DillonHammill commented on #70
@siveenks, thanks for reporting this. I wrote this very quickly a while back and it seems that some changes are required. I just pushed a fix for you to try. I am currently unable to test this locally as I am trying to address some R4.0 related issues on my windows machine. Please pull down the latest CytoExploreR and DO NOT update your RGLab packages (the latest CytoExploreR is still a bit behind

[2020-07-20 10:48] siveenks commented on #70
@DillonHammill Now cyto_plot_explore function plots everythingin a single image. Thank you. I forgot mention earlier that the new CytoExploreR package is a great analysis tool for novice users like me. Great work..

Can ask for some suggestions in the behavior of plotting commands.
If I give the as "layout = c(7,7)" along with  popup = (T or F), R will give an error "Error in plot.new() : figure m

[2020-07-20 10:59] DillonHammill commented on #70
This is just telling you that the plotting window is too small to fit all the plots. There are a couple of things that you can do:

1. Adjust the layout to reduce the number of plots per page (as you have above):
[code]

2. Maximise the available plotting space before plotting. If you are using the RStudio graphics device (i.e. popup = FALSE), you can do this by dragging the size of the plotying w

[2020-07-20 11:03] DillonHammill commented on #70
I should also point out that you can use `cyto_plot_save()` to save the images in as big a graphics device as you want - they won't appear in R but will be saved to a file that can be opened.
[code]

[2020-07-20 11:07] DillonHammill commented on #70
Oh and the `cyto_plot_save` method will also plot much faster!

[2020-07-20 11:34] siveenks commented on #70
@DillonHammill The cyto_plot_save method worked in an excellent way and as you said it was really fast also. Thankl you for our suggestions and that too very promt.

I have one doubt, when I draw gates using
cyto_gate_draw(gs,
          parent = "CD4",
          alias = c("EM CD4", "CM CD4","Naive CD4","TEMRA CD4"),
          channels = c("CD27","CD45RA"),
          type = c("q"),
          xlim =

[2020-07-20 11:52] DillonHammill commented on #70
@siveenks that is a good question! In fact I have already addressed this issue in CytoRSuite (the predecessor or CytoExploreR) https://github.com/DillonHammill/CytoRSuite/issues/20. These used to be treated as separate rectangles, which meant the overlapping events were counted twice - this has since been resolved as discussed here https://github.com/RGLab/openCyto/issues/199 and fixed here https:

[2020-07-20 12:02] DillonHammill commented on #70
I think these are the relevant lines:
https://github.com/RGLab/cytolib/blob/57c4d0670e5314c5821750bfcd2b521c347b2199/inst/include/cytolib/gate.hpp#L294-L330

So it looks like each quadrant gets one of the crosshair boundaries to prevent duplication of these events.

[2020-07-22 06:53] DillonHammill commented on #70
I think we can close this now. Feel free to post new issues if you need any help @siveeks.

[2020-07-22 06:53] #70 closed

[2020-07-23 16:52] SgtVil opened #71 "Errors when plotting gate scheme and list of plots"
Hello Dillon, I'm encountering weird errors.

First when trying to plot a list of cyto_plot() I get the following :
[code]
And a single plot instead of my list of plots.

![image](https://user-images.githubusercontent.com/48726671/88314317-07f93000-cd15-11ea-9802-2edd5dfd2a99.png)

Second, when I'm trying to use cyto_plot_gating_scheme() such as :
![image](https://user-images.githubusercontent.com

[2020-07-26 23:10] DillonHammill commented on #71
@SgtVil, this is weird. There are a lot of updates coming to `cyto_plot()` and its family members this week, hopefully it will solve this issue for you. I will let you know when I release the updates.

[2020-07-27 01:09] DillonHammill opened #72 "Settle on a standard apply function for cytometry objects"
Most of the looping operations in CytoExploreR make use of lapply with the addition of formatting operations afterwards. For consistency I will be switching all cytometry looping operations to a new `cyto_apply()` function. `cyto_apply()` accepts **ANY** function and applies it to each element of a `cytoset`. Users can specify how the data should be formatted by `cyto_apply()` before passing it to

[2020-07-27 01:13] DillonHammill commented on #69
These data processing steps and function dispatch can now be handled directly within `cyto_apply()` as described #72. All the data formatting steps will need to be performed within `cyto_stats_compute()` after `cyto_apply()` has been called. Working on this now...

[2020-07-27 08:48] SgtVil commented on #71
When using another set of FCS (same cytometer but different settings) I didn't encountered the gating_scheme error. However I still can't make a layout of cyto_plot().
Will keep you posted with the updates to come.

[2020-08-01 06:43] DillonHammill opened #73 "Migrate all data editor code to DataEditR package"
The data editors used in CytoExploreR have now been moved to their own package DataEditR.
GitHub: https://github.com/DillonHammill/DataEditR
Website: https://dillonhammill.github.io/DataEditR/

DataEditR ships with a single function `data_edit()` that allows interactive viewing, entering and editing of data. This means that you can now enter ANY data into R without any coding! Check out the websit

[2020-08-03 08:00] Mieszkol opened #74 "Copy and apply a gate"
Hi Dillon,
Would you consider adding a "copy&apply a gate" function? It'd be really useful for me - when comparing many populations by frequency of some antigen expression it'd be great if I could set the gate just once and then copy it onto another parent gates. Thank you!

Best
Mieszko

[2020-08-04 00:24] DillonHammill commented on #74
@Mieszkol, looks like I added a function for this a while back but it is not currently exported for use. I will test it out today and if it works as expected I will export it for you.
https://github.com/DillonHammill/CytoExploreR/blob/720245f70b37750f1e420a6ec135edaa0e3d4cee/R/cyto_gate-helpers.R#L253-L355

[2020-08-04 07:27] Mieszkol commented on #74
@DillonHammill That's great, thank you!

[2020-08-05 15:01] Mieszkol opened #75 "Unable to extract spillover matrix from selected sample"
Hi Dillon,
I'm using a different mac than I usually do and when analyzing the same FCS files I did before I encountered a compensation error

[code]

I uninstalled R, removed all the libraries, and reinstalled CytoExploreR with all the dependencies but the problem persists. The spillover matrix is definitely attached to these FCS files - I've used the exact same ones before on the other mac (which

[2020-08-07 23:46] DillonHammill commented on #75
@Mieszkol, thanks for reporting this. This is due to recent changes in the RGLab suite of packages - the old DESCRIPTION extraction method is now depreciated. I will need to switch over to using `keyword()` within `cyto_spillover_extract()` to fix this. Working on this now.

[2020-08-08 00:07] DillonHammill commented on #75
@Mieszkol this should now be fixed. Please pull down the latest CytoExploreR and let me know how you go:
[code]

I think this is the only place where this change needs to be made, but I will check just be sure.

[2020-08-08 07:46] Mieszkol commented on #75
@DillonHammill I did a quick test and it seems that it works now. Thanks!

[2020-08-08 07:46] #75 closed

[2020-08-09 20:22] northNomad opened #76 "Allow multiple parents in one cyto_plot call"
Currently ```cyto_plot``` argument ```parent``` only takes one input.

I have yet to find a way to compare ```markerB``` expression in ```marker_A-HIGH``` vs ```marker_A-LOW``` cells in one ```cyto_plot``` call.
Ie) ```cyto_plot``` cannot take two parents argument ```A-HIGH``` vs ```A-LOW```

What do you think about making it so that users can allow ```cyto_plot``` to take multiple ```parent```

[2020-08-10 03:08] #76 closed

[2020-08-10 03:22] DillonHammill commented on #76
@northNomad, this is quite complex to implement in `cyto_plot()` directly so it is unlikely that this will be supported any time soon.

You can however, accomplish this with a little bit of coding. For example, you could split your GatingSet into groups based on your experiment variables and then make a call to `cyto_plot()` for each parent:
[code]

Hope this helps!

[2020-08-10 15:16] Mieszkol opened #77 "Assigning colours to samples in cyto_gate_draw()"
Hi Dillon,
I encountered a problem - when I used my FMO-1 controls for gating, the range of the axis in cyto_gate_draw() was so small I couldn't set the gate far enough to cover all of the positive population in regular samples. Then, I thought a great solution would be if I could use both, FMO-1 control and a regular sample for gating and distinguish them by colours. I tried doing that with

`cyt

[2020-08-10 22:22] Mieszkol commented on #74
@DillonHammill Any update on the function? Is it working or does it need rewriting?

[2020-08-10 23:08] DillonHammill commented on #74
Sorry @Mieszkol, I thought I had commented on this again. Anyway, the function works, but I haven't pushed it yet as it doesn't have an editing mechanism at the moment. These type of (reference) gates operate differently to traditional gates and so their entries have to be updated directly in the gatingTemplate. The problem is that `cyto_gatingTemplate_edit()` is not currently working but will be

[2020-08-10 23:21] DillonHammill commented on #77
@Mieszkol this is already supported, you just need to modify your code a bit. Remember that `cyto_gate_draw()` calls `cyto_plot()` internally so the plotting behaves exactly the same and you can pass `cyto_plot()` arguments to `cyto_gate_draw()` as well.

**axes ranges**
If your events are not being displayed or you need more space to draw your gates, you can change the `axes_limits`, `xlim` and `

[2020-08-12 12:17] Mieszkol commented on #77
@DillonHammill Thank you for this great explanation, it's works perfectly!

[2020-08-12 12:17] #77 closed

[2020-08-17 14:06] Mieszkol opened #79 "Autospill integration"
Hi Dillon,
I was wondering if you considered integrating autospill in CytoExploreR? Seems like an amazing feature for large multicolor panels!

Best
Mieszko

https://github.com/carlosproca/autospill
https://www.biorxiv.org/content/10.1101/2020.06.29.177196v2

[2020-08-17 20:57] DillonHammill commented on #79
On my list of things to add, will probably be a couple of weeks before I get to it though.

[2020-08-19 10:11] herbstk opened #80 "Error when using cyto_plot_gating_scheme() on a GatingHierarchy"
When I use `cyto_plot_gating_scheme()` with a `GatingHierarchy` object I get the error message

[code]
It works without problems when using a `GatingSet` object.
For example I fail to reproduce the example from the help page of `cyto_plot_gating_scheme()` without errors:
[code]

Maybe this is related to #71 and will be resolved once the `cyto_plot` family is updated?

[2020-08-19 22:01] DillonHammill commented on #80
@herbstk, yes this will be fixed soon. I have just finished making all the updates that I wanted to make to the core of `cyto_plot()` and so I will start working on updating all the wrapper functions today. Hopefully this will all be ready next week. There are a lot of improvements and new features coming to the `cyto_plot()` family and I can't wait to share it with everyone.

[2020-08-20 07:35] herbstk commented on #80
Dear @DillonHammill, thank you for your quick response, can't wait for the update. Also, I wanted to say thank you for such a great package, it provides what I was missing so far analysing FCM data with R. Great work!

[2020-08-21 12:51] SebastianHesse opened #81 ""Getting started" tutorial from Website not working / does not contain whats needed"
I'm trying to run the "getting started" tutorial from the website (https://dillonhammill.github.io/CytoExploreR/articles/CytoExploreR.html) but unfortunately there are many steps not clearly explained and I get several error messages. I have experience in both, R and flow cytometry but cant solve any of the issues below. Your package looks very promising and I'm sure you would get even more people

[2020-08-21 15:49] Sithara85 opened #82 "Error in fcs_to_cytoset and HDF5: infinite loop closing library"
Hi,

I am running the flow cytometry analysis using openCyto and multiple flow cytometry packages from RGLab. We are processing ~10,000 samples. I am getting below error when I reach ~3100 samples. What could be the problem? I am not very familiar with HDF5 library issues. Is it something you can help me with?

Mike has been working with me to resolve some of the issues with CytoML and docker imag

[2020-08-22 18:35] siveenks opened #83 "Enabling option for grid in the plot background"
Hi,
I have to perform lot of manual gating using CytoExploreR package and one of the drawbacks I found was the absence of a grid in the background of the plot.
![image](https://user-images.githubusercontent.com/66004024/90963292-1034be80-e4bf-11ea-8614-b1aa4a379250.png)

When plotting with ggplot, we can get a grid in the background (example attached).

![image](https://user-images.githubuserconte

[2020-08-24 02:37] DillonHammill opened #84 "cyto_sample not working with cytosets/cytoframes"
Looks like there is a lingering `x@exprs` in `cyto_sample()` which is causing `cyto_sample()` to bypass the sampling process. This means that the `display` argument in `cyto_plot()` is currently not working. This issue will only be apparent for users with the latest versions of the RGLab packages. To see if your CytoExploreR requires updating try the following code:
[code]
If your counts are all 5

[2020-08-29 02:44] northNomad opened #85 "Never encountered error in cyto_gate_draw"
Hi,

Thanks for taking the time to review this issue -

My lab recently acquired a new cytoflex machine and I'm having some problems analyzing my data using my scripts.

When I draw my gate
[code]
[code]

I'm getting the following error:

[code]

Any insight would be great!

[2020-08-29 02:47] DillonHammill commented on #85
@northNomad, if you send through the output of `traceback()` after encountering an error, it will help me to troubleshoot this.

[2020-08-29 02:48] northNomad commented on #85
Appreciate the prompt response as always Dillon!
Thanks so much for real.

[code]

[2020-08-29 02:52] DillonHammill commented on #85
Looks like another cytoframe issue. I have fixed this on the `devel` branch which will be merged to `master` soon. If I don't get to finish everything over the weekend I will push the fix to `master` for you.

[2020-08-29 02:56] northNomad commented on #85
Appreciate your effort a lot -

[2020-08-29 03:15] DillonHammill commented on #85
@northNomad, I actually just pushed the fix to the `master` branch for you. Please pull down the latest version of CytoExploreR and give it a try:
[code]

[2020-08-29 03:38] northNomad commented on #85
Hmm, I've successfully updated the package but the error remains.

Here is the console with
- Install
- setup cyto
- error thrown
- warnings()
- traceback()
- sessioninfo

[code]

[2020-08-29 03:52] DillonHammill commented on #85
Looks like an issue with the actual fcs files. I have seen similar errors in recent flowCore/flowWorkspace issues - I am sure there is a solution there. `read.fliwSet` is now a legacy API, I would switch to using `cyto_setup()` instead. Also the `cyto_tranform()` and `cyto_transformer_()` functions have some benefits so I would switch to those as well.

[2020-08-29 05:19] northNomad commented on #85
Ok, sounds good!
Actually, I see the same error when I try to call ```cyto_setup```

[code]
Must be issues with the .fcs i guess...

[2020-08-29 05:31] northNomad commented on #85
@DillonHammill Could you please elaborate on the subscript out of bound error here?

Correct me if I'm wrong, but ```cyto_setup``` calls ```cyto_load```

If I call ```cyto_load```, I fail at the subsequent ```cyto_transform``` call
[code]

If I call ```cyto_setup```, I straight-up fail
[code]

[2020-08-29 06:11] DillonHammill commented on #85
`cyto_load()` will read in the files to a `cytoset`. `cyto_setup()` will do other things for you as well, such as adding the `cytoset` to a `GatingSet`. The output of `cyto_load()` will therefore be a `cytoset` in your case. I think the errir you are seeing is due to the FCS files having data outside the PnR range. You could try the following as the warnings sugguest:
[code]

If that doesn't work

[2020-08-29 06:18] northNomad commented on #85
Saw that in one of the flowCore issue but unfortunately does not fix the problem.

[code]
attached is .zip with facs files
[fcs.zip](https://github.com/DillonHammill/CytoExploreR/files/5144837/fcs.zip)

[2020-08-29 06:20] DillonHammill commented on #85
Thanks I just updated my previous comment. I will look at this within the next hour.

[2020-08-29 07:08] DillonHammill commented on #85
Ok, so I picked up a couple of issues. The first is that replacing the `colnames()` of cytosets does not seem to be working - however it does work for cytoframes. The second is that coercion (merging) of a cytoset into a cytoframe/flowFrame using the `as` approach is also not working. I will have to check if there are new methods for these or whether they are simply not working. The first issue ca

[2020-08-29 08:04] DillonHammill commented on #85
Good news! I figured out that the problem was due to your filenames starting with an underscore. If you read your samples using `cyto_load()` and then fix the sample names before doing anything else, you should be good to go:
[code]
I will push a fix for `colnames()` issue that you can use `cyto_setup()` too. As the message says it is not recommended to transform cytosets directly as they do not r

[2020-08-29 13:35] northNomad commented on #85
@DillonHammill

Very great news to wake up to!

Anecdote and side rant:

The BD-accuri cytometer that I used to work with prefixes each .fcs file with the well number ```A02, A03... etc```, so I always start my file name with an underscore to make my life with ```cyto_names_parse``` easier.
But the cytoflex does prefix my file so I ended up with a file name with an ```_``` to start.

Don't know if

[2020-08-29 13:45] northNomad commented on #85
I gave it a try, and the previous error has been solved.
Instead, it now throws an subset out of bounds error.

[code]

[code]

[2020-08-29 23:19] DillonHammill commented on #85
@northNomad, this is because the `identifiers` are changed when updating the `sampleNames`. The following should do the trick:
[code]
Do these files have the original names from the machine, or have you manually edited them? Renaming the files manually is not recommended as it does not update the associated `keywords` contained in the FCS files. Our lab has encountered similar naming issues on our

[2020-08-30 01:59] DillonHammill commented on #85
@northNomad, a fix was just pushed to `flowWorkspace` to fix this issue for you. Please update your `flowWorkspace` and try again:
[code]
Note that you should not need to manually fix the file names now, they should work as is (i.e. with the leading underscore).

[2020-08-30 02:07] DillonHammill commented on #85
@northNomad, I also pushed a fix to CytoExploreR to resolve your `cyto_setup()` issue. Please pull down the latest CytoExploreR as well and give `cyto_setup()` another try:
[code]

[2020-08-30 16:46] northNomad commented on #85
I am having trouble pulling the github version of flowWorkspace; it's having non-zero exit status.

I will update you as soon as I get this fixed.

[2020-09-04 15:19] baj12 commented on #33
Hi, this looks really interesting. I am currently struggling with using FlowSOM and a gatingHierachy as input. It seems you only have the GatingSet implement (based on the help page). Would you happen to have an example with FlowSOM that you can share?
Thx
Bernd

[2020-09-05 17:48] baj12 commented on #33
Hi Dillon,
looks really great what you intend to do and I am excited to test. I am running into the following problem when using the code from this page:

[code]

![](https://i.imgur.com/UMxOJnr.png)

[code]

<sup>Created on 2020-09-05 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0.9001)</sup>

Any idea what is happening?

Originally, I got the following error, but I couldn't get to

[2020-09-05 18:02] Mieszkol commented on #74
@DillonHammill Hi again Dillon, how did the swithover work out? When do you anticipate the copy gate function will be ready? I'm sorry for bothering you but I'm in great need of that feature

[2020-09-07 01:08] #84 closed

[2020-09-07 23:03] DillonHammill commented on #33
@baj12, I think this related to `cf_append_cols()` issues in flowWorkspace. I will have a look at this today and report back.

[2020-09-09 23:08] DillonHammill opened #86 "CytoExploreR overhaul to use cytosets instead of cytoframes"
Over the coming weeks I will be making substantial changes to CytoExploreR to use `cytosets` instead of `cytoframes` internally. These changes will mean reduced support for `cytoframe` objects, which will be treated simply as a container for the data.

The main reason for this change is related to the legacy `identifier()` which is currently used within CytoExploreR to keep track of the name of th

[2020-09-24 18:42] maximilian-heeg opened #87 "Error occuring when calling cyto_map"
Hi,

I get an error that I do not understand when I call `cyto_map`. The `gs` was created by importing a flowjo workspace.

[code]

After that calling `cyto_map(gs)` results in an error.
[code]

Using the example for cyto_map that is posted here on github, the code runs fine:

[code]

I assume this is caused by the combination of `flowjo_to_gatingset` and `cyto_map`, but I am not sure about that.

[2020-09-29 20:44] GKok opened #88 "Calculating ratio between fluorescent signals"
I recently found out about your package and am really enthusiastic about it - very convenient to use.

Now importing all samples and setting gates works, I'd like to calculate the mean, median and/or modal ratio between two fluorescent signals per sample, eg. divide one by the other, then normalizing the ratio to 1 in a control sample. I can't figure out how to do this - is there an existing funct

[2020-09-29 23:07] DillonHammill commented on #88
@GKok, the current version of CytoExploreR does not have native support for these sorts of operations but this is coming to the next version that will be released soon.

In the meantime, it is easy to calculate statistics such as these manually. See example below:

**Prepare example data**
[code]

**Compute statistics tidyverse style**
[code]

[2020-09-30 05:56] GKok commented on #88
Thank you for your quick reply. This would indeed be a temporary solution. However, I do feel this might introduce a slight bias. I'm trying to determine a ratio for each cell, and would like to calculate the median of that ratio only then.

When do you expect the new version to be available? I'll wait for that version for before using it for my final experiments :-)

[2020-09-30 22:59] DillonHammill commented on #88
Ah! You are actually after creating derived parameters! You can add derived parameters to the GatingSet as below and then calculate statistics for that parameter:

[code]

You will need the latest versions of the RGLab cytoverse packages for this to work.

[2020-10-01 07:20] GKok commented on #88
Oh wow, that's it! Now I never need FlowJo again 😄

Thank you so much for your prompt support!

[2020-10-01 07:35] #88 closed

[2020-10-01 08:56] GKok opened #89 "Faulty axis in gating plot when setting logarithmic xlim/ylim to > 10E6"
When setting gates and setting biex-transformed ylim to c(0,10000000), the axis is faulty. Up to 10E6 it shows logarithmically, above that it doesn't.

The picture speaks for itself.
<img width="1036" alt="image" src="https://user-images.githubusercontent.com/3321163/94788605-19754d00-03d4-11eb-90bf-c15fd4ad4f5d.png">

[code]

[2020-10-01 10:09] GKok commented on #88
[code]

I installed the last development version of RGLab cytoverse. I also noticed that you've been in discussion with the author of that package about a similar problem. Do you happen to know if there's a solution at hand?

[2020-10-01 10:13] DillonHammill commented on #88
Make sure you are creating the derived parameter for all events (i.e. the "root" node and noy "GFP+").

[2020-10-01 10:20] GKok commented on #88
[code]

Unfortunately, that throws the same error...

[2020-10-01 10:23] DillonHammill commented on #88
OK I will take a look tomorrow. Did you read in the data from FCS files or are you importing a flowjo workspace?

[2020-10-01 10:32] GKok commented on #88
I'm reading FCS files from a Cytoflex S machine. Here's the code I'm using. Reading the samples works fine, drawing and setting gates as well.

Thanks a lot for your help.

[code]

[2020-10-01 23:19] DillonHammill commented on #88
@GKok, can you supply the output of `sessionInfo()` and `cs[[1]]` so I can troubleshoot this.

[2020-10-02 06:27] GKok commented on #88
Definitely!

[code]

[code]

[2020-10-06 21:58] DillonHammill commented on #88
@GKok, apologies for the delayed response. Looks like your `cytolib` is outdated - please update your RGLab packages as below:
[code]

Once your package are updated the code should work as expected. If you don't want to update your RGLab packages then the updated code below should work with your current package versions:
[code]

[2020-10-06 22:20] DillonHammill commented on #89
@GKok, I don't think this is a bug. The definition of the biex transform is bounded by the `maxValue` argument which is set at `262144` by default. As a result the data above this limit remains on the linear scale. If you need to transform data above this limit, you could try increasing the `maxValue` argument.

I will leave this issue open, to remind me to put in some code to automatically comput

[2020-10-07 09:32] GKok commented on #88
I installed the latest version of flowCore from Github, but had some trouble installing the latest version of cytolib and therefore flowWorkspaces (https://github.com/RGLab/cytolib/issues/41). Fixed it by updating gfortran to 4.8.x.

After updating all three to the latest Github versions, I still get the same error with the previous code.

[code]

The workaround doesn't return an error. In the out

[2020-10-07 09:44] DillonHammill commented on #88
This should do the trick:
[code]
FYI the pre-built binaries for RGLab packages should be available from BioConductor, so there is no need to build these packages from source by pulling them from GitHub.

[2020-10-07 10:21] GKok commented on #88
Thanks, I've got it to work!

However, the gatingset seems to lose the phenoData, and all filenames are replaced by 'file[randomnumber]'. However, I can overcome that by replacing these filenames by the 'sampleNames()', as I assume the order stays the same.

Many thanks for all your support, I really appreciate it.

PS I pulled the Github versions as the repository versions were those installed an

[2020-10-10 16:58] Mieszkol opened #90 "Downsampling"
Hi Dillon,
Is there a way to downsample e.g., when exporting a population to new FCS files by cyto_save()?

Best
Mieszko

[2020-10-11 01:23] rwbaer opened #91 "getting error while running cyto_gate_draw()"
**Briefly describe what you hope to achieve:**
I'm trying to run the "getting started code" to verify that I have a working install on a brand new computer.
I used the development version from bioconductor as a basis for installing the rglab packages
The rlang package has been a little finicky during install but I don't know if that could be related.

**Outline the steps taken to attempt to reach

[2020-10-11 20:49] rwbaer commented on #91
Never mind (sort of).  I have been teaching a class where I have been using notebooks, and accidently was trying to run the code in sections from an .Rmd file.   Apparently, that doesn't work, even with the default popup = TRUE.  Making it into an R script seems to mean I'm back in business.

Not closing in case this is not expected behavior for popup = TRUE

[2020-10-11 22:55] DillonHammill commented on #91
@rwbaer, `rmarkdown` has been designed to render documents non-interactively so this means that you won't be able to gate whilst rendering the document. You can however, run the individual gating chunks separately, draw the gates and then save the image to include in your rendered document. This will generate a gatingTemplate with all of your gates. Once you have done this, you can prevent the gat

[2020-10-11 23:07] DillonHammill commented on #90
@Mieszkol, a combination of `cyto_sample()` and `cyto_save()` should do the trick:
[code]

There is a new `cyto_sample_to_node()` function coming soon that will do this more elegantly. Unfortunately I have been preoccupied with many other thing the past few weeks, I am hoping to get back to finishing off the new version soon.

[2020-10-11 23:10] DillonHammill commented on #87
@maximilian-heeg, apologies for the delayed response. Glad that you figured it out! Yes this is the reason why I am making the switch to using cytosets instead of cytoframes throughout the package https://github.com/DillonHammill/CytoExploreR/issues/86 - this will prevent `identifier` synchronisation issues such as this.

[2020-10-11 23:10] #87 closed

[2020-10-12 14:09] rwbaer commented on #91
@DillonHammill .  As always thanks for the valuable feedback and the great package!

[2020-10-12 14:09] #91 closed

[2020-10-20 16:59] Mieszkol commented on #90
@DillonHammill Thank you! Do you know when are you going to release a new version?

[2020-10-20 19:48] DillonHammill commented on #90
Hopefully in the next couple of weeks, I am working on DataEditR at the moment but will be back working on CytoExploreR next week.

[2020-10-21 12:50] SgtVil opened #92 "How to order plots or even the gs on a vector instead of file names ?"
Hello,
I'm struggling to order my plots alphabetically with a "sample" vector in the cyto_details(). I cannot manage to give the order to the object : cyto_details(gs)= cyto_details(gs)[ order(cyto_details(gs)[,2]),]
It keeps the order from the file names and won't plot in the order I want. I tried with group_by= "sample" which is the name of the vector.

Thanks a lot.
Rémy

[2020-10-21 22:33] DillonHammill commented on #92
@sgtVil, `group_by` will attempt to match the supplied levels to variables within `cyto_details(gs)` - so we need to know which variables and what levels (not indices). In order to do this, you will need to supply this information in a list to `group_by` as below:
[code]
The approach above will merge samples within the same Treatment group and then order them. If you want to keep the samples separ

[2020-10-22 16:31] SgtVil commented on #92
Thanks for your quick response, it's quite impressive how fast you respond.

[2020-10-22 20:17] antoine4ucsd opened #93 "automated gating from template"
First of all, congrats for your amazing work.
I am trying to apply a gating template to a large number of samples. My goal is to automatize as mush as possible isolation of live cells.
As expected, when plotting all samples together, some appears 'outliers' or not well gated. is there a way to adjust the gating from a multipanel plot (i.e. not opening each fcs one by one)?

I am attaching one exam

[2020-10-22 22:08] DillonHammill commented on #92
No worries, I will close for now. Feel free to reopen this issue if you need more help with this.

[2020-10-22 22:08] #92 closed

[2020-10-22 22:08] #90 closed

[2020-10-22 22:17] DillonHammill commented on #93
@antoine4ucsd, I am going to need some more information if I am going to be able to help you with this. Which cells are you trying to gate? Are there any additional parental gates that have been applied? Do you want to set the same gates across samples or gate samples separately? What you have you tried to attempt to gate this data? If you provide some code I can give you a hand.

[2020-10-22 22:25] antoine4ucsd commented on #93
thank you for the quick reply! I was trying to gate live cells using a template (attached) and applying it to a large number of samples (~300) at once: as expected this is not perfect so I was wondering if there would be a way to adjust the gating manually 'quickly' by eye-balling all samples at once (and not going back to each sample separately...)
I hope it makes sense...

[Uploading _MygatingTe

[2020-10-22 22:45] DillonHammill commented on #93
Looks like the upload didn't quite work...

[2020-10-22 22:56] antoine4ucsd commented on #93
trying again
[_MygatingTemplate_Live_Activate.2020-10-20.csv.zip](https://github.com/DillonHammill/CytoExploreR/files/5426349/_MygatingTemplate_Live_Activate.2020-10-20.csv.zip)

[2020-10-22 23:16] DillonHammill commented on #93
@antoine4ucsd, looks like you are using an old version of CytoExploreR - I would recommend that you update the package before proceeding:
[code]

I would also advise looking at the updated website as much of the original functionality has changed/improved:
https://dillonhammill.github.io/CytoExploreR/

You will need to re-gate the data from scratch using the new version of CytoExploreR.

I think t

[2020-10-22 23:30] antoine4ucsd commented on #93
ok. You are right, I will start from scratch with the updated version.
thank you for your responsiveness.

[2020-10-30 11:32] LCapitani commented on #33
I get the exact same error - any updates on the matter? Thanks for this great package!

[2020-10-31 16:51] rwbaer opened #94 "cyto_spillover_compute - dropdown list"
**Briefly describe what you hope to achieve:**
I'm running what basically amounts to the Getting started script for compensation correction but with only 3 markers.  The FCS files contain height, area, width for 4 channels, but I have deleted height and width for all but FSC-HEIGHT when running cyto_setup().  The first thing I note is that cyto_transform() continues to graph all channels.  Perhaps

[2020-11-05 20:25] DillonHammill commented on #33
Sorry for not addressing this sooner, I have been pre-occupied with a lot of things the last couple of weeks. This should now be fixed. Please install the latest version from GitHub and let me know how you go:
[code]

[2020-11-13 13:39] rwbaer commented on #94
I thought I'd ping this post with the hope you are just busy and not in a COVID way. I know you are working on a refactor that may make this easier to address on the other side, but I thought I'd seek help again and make sure you can access the example I supplied.

[2020-11-13 20:12] DillonHammill commented on #94
What is the output of `cyto_channels(gs)` and `cyto_markers(gs)` after running `cyto_setup()`?

[2020-11-13 22:42] rwbaer commented on #94
They return the following:
[code]

[2020-11-13 22:59] DillonHammill commented on #94
Just double checking, did you set `restrict = TRUE` in `cyto_setup()`?

[2020-11-13 23:02] DillonHammill commented on #94
Not entirely sure what is going on, the channel selector simply takes on the output of `cyto_fluor_channels()` which seems correct above. Are you sure that the options are not just truncated due to limited space in the table. Can you try typing the name of of a different channel in the box and see if it highlihhts an option in the dropdown menu?

[2020-11-14 01:30] rwbaer commented on #94
So the first problem was **my** failure to set `restrict = TRUE` in `cyto_setup()`.  That helped a lot.   It also changes the one available item in the dropdown from FL1-HEIGHT to FL1-AREA.  However, it does NOT make FL3-AREA or FL4-AREA available in the dropdown.
[code]

But,  if I type FL3-AREA next  its standard  and FL4-AREA next to its standard,   I get the expected series of 3 plots to let m

[2020-11-14 02:21] DillonHammill commented on #94
Yeah, the dropdown options are there, but there is not sufgicient space to display them. The solution is to start typing what you want and it will display the best matching option. You can either select it from the dropdown then or type the complete name.

[2020-11-14 02:22] #94 closed

[2020-11-14 17:17] rwbaer commented on #94
Thanks for the help and the final tip.

[2020-11-15 00:37] rwbaer opened #95 "Panel label backgrounds in cyto_plot"
**Briefly describe what you hope to achieve:**
I was trying to use label_text_x  to move my labels to the left side of my panels.  I had partial success, but I could not figure out how to specify left justification.

 In addition, if I use the zoom feature in RStudio (it didn't seem to be honoring my popup=TRUE) the background of the labels seems to extend disproportionately onto the histograms.

[2020-11-15 00:56] DillonHammill commented on #95
@rwbaer, justification of labels is not supported - and it may not be possible given the way in which the labels are added to the plot. You can however, manually position each label to achieve this - just supply an x and y coordinate for each label to `label_text_x` and `label_text_y` arguments (e,g, `label_text_x = c(1,2,3,4,5,6,7,...)`.

The label stretching is happening because the label coordi

[2020-11-15 00:56] DillonHammill commented on #95
@rwbaer, justification of labels is not supported - and it may not be possible given the way in which the labels are added to the plot. You can however, manually position each label to achieve this - just supply an x and y coordinate for each label to `label_text_x` and `label_text_y` arguments (e,g, `label_text_x = c(1,2,3,4,5,6,7,...)`.

The label stretching is happening because the label coordi

[2020-11-15 00:58] rwbaer opened #96 "cyto_plot_save() not successful"
**Briefly describe what you hope to achieve:**
I am trying to save a .png version of a histogram montage stack that is drawn on the RStudio graphics device after popup = TRUE fails to draw a standalone image.

The .png file is created but is 0 KB in size.  Adding dev.off()  (multiple times even) did not make the save successful although it did increase the size of the file to 7 KB.  Opening the 7

[2020-11-15 01:32] DillonHammill commented on #96
`popup` must be `FALSE` to use `cyto_plot_save()`.

[2020-11-15 15:36] rwbaer commented on #95
Just to clarify, when I said "justification" I WAS intending to use label_text_x and label_test_y to position the labels, but text position is specified for the CENTER of the label and not the left edge or right edge.  So, apparently it is easy to align on center but not to align on left edge or align on right edge.  I think this is done with hjust = 0 for left and hjust =1 for right in ggplot2.

[2020-11-16 15:07] rwbaer opened #97 "cyto_setup() Recursive issue"
**Briefly describe what you hope to achieve:**
I am going through the `cyto_setup()` process but when I collected my spill standards I collected a couple of samples that I don't want to use in the final process.  I therefore created an "unused" subfolder and dumped the extra calibration samples in there.  When I run cyto_setup(), it finds the unused folder and apparently doesn't ignore it.

I look

[2020-11-18 22:47] DillonHammill commented on #97
See `exclude` and `select` arguments for `cyto_load()` which is called by `cyto_setup()`

[code]

Alternatively,
[code]

[2020-11-19 22:15] rwbaer commented on #97
Thanks so much.  BTW, I did look at  ?cyto_setup before posting, including "additional arguments passed to load_cytoset_from_fcs." and didn't find them.  I feel badly to keep bothering you, but be assured that I am grateful for your package and your awesome help.

[2020-11-19 22:16] #97 closed

[2020-11-21 18:49] rwbaer opened #98 "plot(gs) vs cyto_plot_gating_tree(gs)"
**Briefly describe what you hope to achieve:**
I create a series of gates using CytoExploreR and then plot the gating tree with cyto_plot_gating_tree(gs) and I get what I am expecting.  I then try to use the RGLab plot(gs) approach and the tree looks fractured (see images).  Is there something fundamentally missing in gates formed with CytoExlorerR that breaks the generic plot function for gating

[2020-11-22 14:19] rwbaer commented on #98
Never mind.  I see I need the ,bool = TRUE argument by default.   I worry about the cyto_plot_scheme(gs) when I'm farther along.  Need to do my homework better.

[2020-11-22 14:19] #98 closed

[2020-11-26 03:19] DillonHammill opened #99 "Speed Boost - Sampling & Coercion of cytoset to cytoframe"
Currently, CytoExploreR handles sampling and coercion of `cytosets` independently. This means that the data is first coerced to `cytoframe` and then sampled downstream using `cyto_sample()`. The initial coercion step is by far the most computationally taxing step so we need to consider sampling prior to merging to sped up this process.

Preparation of data:
[code]

If we use the current approach o

[2020-11-26 03:45] DillonHammill commented on #99
Here is comparison of `cyto_sample()` using a `sampleFilter` or using sampled indices:
[code]

[code]

Looks like there are marginal benefits (if any) of using sampled row indices instead of `sampleFilter`.

[2020-11-26 03:56] DillonHammill commented on #99
I will close this for now as `cyto_coerce()` will now be used where possible, particularly in `cyto_merge_by()`. This should offer substantial speed improvements to `cyto_plot()` and `cyto_gate_draw()` once implemented.

[2020-11-26 03:56] #99 closed

[2020-12-03 18:33] Mieszkol commented on #74
@DillonHammill Hello again, is there any chance to see this function added rather soon? I'm in the final process of data preparation for the paper and unfortunately, without copy&apply I'll have to use other software for FCS analysis

[2020-12-03 20:52] rwbaer commented on #95
I think I still have failed to express this clearly with my changed title.

What I hope to be able to specify is to get right or left justification of the text bounding box relative to the specified label_text_x and label_text_y.   Perhaps this is the thing that cannot be done, given the implementation.

I just want to be sure that this issue is not taken to mean text justification relative to the

[2020-12-03 22:06] DillonHammill commented on #74
@Mieszkol I have exported the function for you. See below:
[code]

[2020-12-03 22:09] DillonHammill commented on #95
@rwbaer, I know what you are after and I have added it to my (long) list of things to add to CytoExploreR. I am working on revamping the internals of `cyto_plot()` so I will give this a go when I get to the labels.

[2020-12-04 14:26] rwbaer commented on #95
Great.  I was worried I had not communicated well and wanted to make sure I had done so before closing this.  I don't know how you like to handle issues, but feel free to close this depending on how you like to handle "issues" and "to do" lists.  :-)

[2020-12-04 14:45] Mieszkol commented on #74
Thank you Dillon! Unfortunately, I can't make it work. I've tried to copy the gate POI+ to the CD56bright population using the the following command:

`cyto_gate_copy(gs, parent = "CD56bright", alias = "CD56bright POI+", copy = "POI+", gatingTemplate = gT)
`
and got this:
`Error in cyto_gate_copy(gs, parent = "CD56bright", alias = "CD56brightPOI+",  :
  Supplied alias does not exist in the GatingS

[2020-12-05 18:27] Mieszkol commented on #74
Different error this time (nodes and eveything else is the same)

[code]

[2020-12-08 02:39] julienbarrere2 opened #100 "Getting started - object 'rhandsontable_html' not found error"
Hi,

I have been trying to get started on the demo and I am getting stuck... I have tried everything I could think of, including re-installing everything but I still get the same error. When I run the following line:

gs <- cyto_setup("Compensation-Samples", gatingTemplate = "Compensation-gatingTemplate.csv")

I get the following error:

object 'rhandsontable_html' not found.

I have attached the

[2020-12-08 02:43] DillonHammill commented on #100
Hmmm, this is wierd. Never seen this one before. Can you paste the output of `sessionInfo()` here so I can take a look?

[2020-12-08 02:49] julienbarrere2 commented on #100
Hi Dillon,

Thank you so so much for replying! Here is the sessionInfo():

R version 4.0.3 (2020-10-10)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Catalina 10.15.7

Matrix products: default
BLAS:
/System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK:
/Library/Frameworks/R.framework/Versions/4.0/Resources/lib/libR

[2020-12-08 03:00] DillonHammill commented on #100
Hmmm, looks like your `rhandsontable` version is correct and I can confirm that the version you have works on my machine. I think we will need to try removing and reinstalling `rhandsontable` to see if that fixes the problem. Can you please restart your R session and run the following:
[code]

Then load in CytoExploreR and try to run the code again:
[code]

If that doesn't work, can you try and lo

[2020-12-08 03:11] julienbarrere2 commented on #100
Here is is:

Removing package from
‘/Library/Frameworks/R.framework/Versions/4.0/Resources/library’
(as ‘lib’ is unspecified)

trying URL '
https://cran.rstudio.com/bin/macosx/contrib/4.0/rhandsontable_0.3.7.tgz'
Content type 'application/x-gzip' length 3626360 bytes (3.5 MB)
==================================================
downloaded 3.5 MB

The downloaded binary packages are in
/var/folders/1r

[2020-12-08 03:47] DillonHammill commented on #100
Can you try running:
[code]
Let me know if the table is displayed in the viewer pane or not. This will most likely generate the same error.

[2020-12-08 03:59] julienbarrere2 commented on #100
It generates the table in the viewer but I get the same error yeah, I need
to force the end of the process. cyto_setup was also generating the table.

On Mon, Dec 7, 2020 at 10:47 PM Dillon Hammill <notifications@github.com>
wrote:

[2020-12-09 04:07] julienbarrere2 commented on #100
Hi Dillon,

I have re-installed absolutely everything (R, Rstudio, all packages, etc.)
and still run into the same error. I get the same problem when I try to
load my data. Did you have the chance to give it more thought?

Thank you so much,

Julien

On Mon, Dec 7, 2020 at 10:59 PM Julien BARRERE <julienbarrere2@gmail.com>
wrote:

[2020-12-09 04:13] DillonHammill commented on #100
@julienbarrere2, I had a look the `rhandsontable` code and there is no `rhandsontable_html` object anywhere in the package and I certainly have not used it either. I am a bit confused where this is coming from and it is difficult for me to track it down without being able to replicate the problem.

I am going to check to see if this is happening in the latest `docker` image - if so I can try and d

[2020-12-09 09:30] DillonHammill commented on #100
Have you tried installing the development version of rhandsontable?
[code]

[2020-12-09 09:33] DillonHammill commented on #100
If that does not work can you try running the following and let me know if the table is displayed and whether you get the same error?
[code]

[2020-12-09 13:38] julienbarrere2 commented on #100
I tried it, and I can display mtcars well when I run rhandsontable(mtcars)

When I run

gs <- cyto_setup("Compensation-Samples",gatingTemplate =
"Compensation-gatingTemplate.csv")

The consol will display the following:

Loading FCS files into a GatingSet...
Assigning markers to channels...

The table is displayed (which was the case before too), but I still need to
abort the process and get the s

[2020-12-09 21:06] julienbarrere2 commented on #100
Hi,

I tried reinstalling everything again, and now run in a new problem...

When running

devtools::install_github("DillonHammill/CytoExploreR")

I get the following error message:

ERROR: lazy loading failed for package ‘CytoExploreR’
* removing
‘/Library/Frameworks/R.framework/Versions/4.0/Resources/library/CytoExploreR’
Error: Failed to install 'CytoExploreR' from GitHub:
  (converted from war

[2020-12-09 23:32] DillonHammill commented on #100
This is likely because `remotes` is converting warnings to errors, you can turn this off as follows:
[code]

[2020-12-09 23:33] DillonHammill commented on #100
I have also checked the docker image, and everything works as expected. I think this problem may be caused by `shiny` - I am looking into this as we speak...

[2020-12-09 23:41] DillonHammill commented on #100
Hmmm... looks like we have the same version of `shiny` as well. Perhaps we could connect over zoom so that you can share your screen with me? If you send an email to `CytoExploreR@outlook.com` with a suitable time I can send through a meeting link.

[2020-12-11 01:29] #100 closed

[2020-12-21 19:57] Mieszkol commented on #74
Hi @DillonHammill, have you had some more time to look at this issue?

[2020-12-21 23:11] DillonHammill commented on #74
Sorry @Mieszkol, I didn't see your previous comment. I thought that the gate dimensions would be handled internally by `gs_add_gating_method` for reference gates, but I guess this is not the case. I have pushed a fix to include the gate dimensions in the gatingTemplate.
[code]
I am currently away on vacation and have limited resources to test and debug  this, if things still don't work I will have

[2021-01-06 15:16] SgtVil opened #101 "Resolution problem on plotting functions"
Hello Dillon,
I've noticed a problem of resolution that is happening quite usually : I get big "pixels" where the density is important.
Usually I restart my R session and R studio and this does the trick. But this time it doesn't.
First, on which package the plotting is dependent. Secondly, do you get this problem ? It might also come from my installation but it seems less plausible.

![image](htt

[2021-01-06 15:21] SgtVil commented on #101
One more little thing :
Here this happens when I set limits manually :
`lim= c(10, 10e5)`
`cyto_plot_gating_scheme(gs_iso, stat = "freq", display=1, popup = F,   header = cyto_details(gs_iso)[,1], xlim= lim, ylim=lim)`

[2021-01-06 19:07] Mieszkol commented on #74
Hi @DillonHammill, I hope you had a relaxing holiday break.

I tried copy&apply after your fix but another error popped up:

`> cyto_gate_copy(gs, parent = "CD56bright", alias = "CD56bright POI+", copy = "POI+", gatingTemplate = gT)

Error in (function (classes, fdef, mtable)  :
  unable to find an inherited method for function ‘parameters’ for signature ‘"list"’`

[2021-01-06 21:38] DillonHammill commented on #74
That's strange, for some reason the previous commit does not match my local commit. Anyways, I just pushed a fix to the `master` branch:
[code]

[2021-01-06 21:49] DillonHammill commented on #101
The issue in the top left panel is likely due to there being events with negative values on one of your axes - for some reason this causes problems with the density computation. Originally, I thought it would only effect the display of linear FSC/SSC data so I put a patch in for this case, but it looks like it occurs in some transformed channels as well.

What transformation have you used for thes

[2021-01-06 22:29] Mieszkol commented on #74
It works, thank you so much! I'll test the function a bit more tomorrow and let you know if there are some issues.

[2021-01-07 14:10] SgtVil commented on #101
THX for the prompt response once again. And happy new year !

Indeed, there is a lot of negative values in this dataset which very complicated to work with when transforming data (it's bacteria flow cytometry, so we are very small and always in log).
Moreover, I recon that cytoflex data (at least mine) got a lot of negative values in comparison with BD Canto or Fortessa.
I'm actually trying with `

[2021-01-07 14:13] SgtVil commented on #101
Forgot to had graph with set up limits :
![image](https://user-images.githubusercontent.com/48726671/103902449-d75a5680-50fa-11eb-9191-3aaebacd6d45.png)

[2021-01-07 14:19] DillonHammill commented on #101
You can save your GatingSet to disk using `cyto_save(gs, save_as = "directory")` and this will retain all your analyses. When you come back just give `cyto_setup("directory")` that directory and it will take care of everything for you. In fact I like to use the original `cyto_setup()` call but just chabge the directory to that where the GatingSet has now been saved.

I will revisit the density pro

[2021-01-08 15:32] Mieszkol commented on #74
I've incorporated the function into my workflow and it seems to work without any issues. The only thing is this warning:

[code]

Anyway, thank you so much for adding this feature!

[2021-01-08 15:32] #74 closed

[2021-02-14 12:39] Biomiha opened #102 "Error with cyto_save + cyto_load"
Hi Dillon,

I'm experiencing an issue using `cyto_save` followed by `cyto_load`.
If I save my GatingSet as:

    cyto_save(x = WholeBlood_gs, save_as = "WholeBlood_gs_LD/")

And then try to read it back in using:

    cyto_load("WholeBlood_gs_LD/")

I get:

          WholeBlood_gs_LD/ does not contain any valid FCS files.

Looks like cyto_save is saving the GatingSet as .h5 files, but cyto_load is

[2021-02-14 16:32] rwbaer opened #103 "cyto_gatingTemplate_apply() after adding an additional gate"
**Briefly describe what you hope to achieve:**
I would like to add a new gate called "Live Single Cells" and update the Gating Set to use it for stats.  The Gating set already has a gate called live cells. cyto_gatingTemplate_apply() seems to think that the gate "already exists when I use cyto_gatingTemplate_apply(), but when I try to use the new gate,  "Live Single Cells",  to get statistics, it

[2021-02-14 22:14] DillonHammill commented on #102
@Biomiha, I have actually already fixed this on the version that I am currently working on. Since it doesn't affect too many other things I have pushed those changes to the `master` branch for you. This should do the trick in the meantime until I release the new version (it is awesome!).

Please update your CytoExploreR and try again:
[code]

Let me know how you go.

P.S. If you want to save the F

[2021-02-14 22:16] DillonHammill commented on #103
@rwbaer, I am going to need some more information if I am going be able to help.

What is the output of `cyto_gatingTemplate_active()`?

If you open up the gatingTemplate after adding the gate does the new population appear as a new row?

[2021-02-14 22:17] Biomiha commented on #102
Prompt as ever. I'll update now.
Yes, I've noticed you said you were updating to account for the new cytoframe and cytoset objects.
I have absolutely no doubt it's going to be awesome.

Thanks Dillon! Take care.

[2021-02-14 22:30] #102 closed

[2021-02-16 13:42] rwbaer commented on #103
cyto_gatingTemplate_active() shows "Samples"
Yes, the gating template appears in a new row.

[code]

[2021-02-16 22:58] DillonHammill commented on #103
Aha! The issue is that you are only gating a subset of the samples in `cyto_gate_draw()`. You should always supply the entire GatingSet here otherwise the gate will not be present in all of your samples.

[2021-02-17 15:30] rwbaer commented on #103
So many ways to go wrong ;-)   Thanks as always!

Hopefully it also works to only request stats on those samples where the gate exists since some samples in the gating set are purely melanoma cells, and analyzing a "myeloid gate percentage" for those samples makes no sense.  They have different intrinsic forward scatter and side scatter.

[2021-02-17 15:30] #103 closed

[2021-02-17 19:55] DillonHammill commented on #103
@rwbaer, it is fine to perform subsetting within `cyto_stats_compute()`. I would recommend using `cyto_select()` to pull out the relevant data.

[2021-02-17 21:47] rwbaer commented on #96
It has been a while since I tried to fight my way through this one, but I tried using cyto_plot_save() again today and failed.  To make things easier for checking, I tried to get a repex using the built-in activation data set.

As before, the file saves but can not be opened.   The problem has all the hallmarks of what happens when you don't do a dev.off() in base graphics.  Here is the example.

[2021-02-17 22:25] DillonHammill commented on #96
`cyto_plot_save()` must always be called before `cyto_plot()` it is used to set up the graphics device used for plotting.

[code]

This is explained in detail at the bottom of this page on the website:
https://dillonhammill.github.io/CytoExploreR/articles/CytoExploreR-Visualisations.html

[2021-02-17 22:27] mimisikai opened #104 "Boolean gate"
I have a complicated Boolean gate flow: A+B+C-D-E-F-,
by trying to have the expression like: A&B!C!D!E!F, but do not work.
Could you please advise how to set up the Boolean expression here? Thanks.

[2021-02-17 22:49] DillonHammill commented on #104
I suspect that you may need `&` signs in front of all the `!` as well.

[2021-02-18 05:19] DillonHammill commented on #102
Since it is related to the changes I pushed here, I just pushed a fix to `master` to ensure that `file_sort()` appropriately handles single samples.

[2021-02-18 09:52] rwbaer commented on #96
Very, very helpful.

FWIW, it's not that I didn't look at the website.   It's that I didn't understand the role of the cyto_plot_save() function as setting up the graphics device which is not made explicit in that code fragment.  The comments in your code fragment above makes my misunderstanding immediately obvious.

It might be helpful to change the comment for cyto_plot_save() on the website to

[2021-02-18 09:52] #96 closed

[2021-02-18 09:56] DillonHammill commented on #96
Happy to help. I will update the website when the new version is released.

[2021-02-19 15:49] rwbaer commented on #96
Super.  Looking forward  to the new version.

[2021-02-23 19:09] mimisikai opened #105 "cyto_setup stuck forever"
Install per instructions. When loading samples, the cyto_setup function cannot walk through, it's stuck at "assigning markers to channels".
gs = cyto_setup(path = "xxxx", gatingTemplate = "gatingTemplate.csv")
Loading FCS files into a GatingSet...
Assigning markers to channels...

[2021-02-23 19:25] DillonHammill commented on #105
If you scroll through the table in the viewer pane there is a save & close button that must be hit to proceed to the next step.

[2021-02-23 19:47] mimisikai commented on #105
sorry for this silly question.

[2021-02-23 20:13] DillonHammill commented on #105
No worries. Happy to help!

[2021-02-23 20:13] #105 closed

[2021-03-08 14:30] Biomiha opened #106 "Boolean gate linked to root instead of parent"
Hi Dillon,

I've constructed a boolean 'OR' gate using:

     cyto_gate_bool(gs,
               alias = "joint_pop",
               parent = "parent_pop",
               logic = "pop1|pop2",
               gatingTemplate = "gatingTemplate.csv")

When I look at the gating tree the `joint_pop` is a child gate of `root` rather than `parent_pop`. I've tried with or without the `parent` argument but in

[2021-03-08 16:59] mimisikai opened #107 "flowjo-liked pseudocolor"
I wonder which color palette you use for the pseudocolor? Thanks!

[2021-03-10 05:10] DillonHammill commented on #106
Thanks for reporting this @Biomiha. I did write a new `cyto_nodes_ancestor()` function to anchor the boolean gates to a more reasonable parent, but it looks like I forgot to change this at the GatingSet level as well. I have pushed the fix to the `master` branch for you.
[code]

[2021-03-10 05:11] DillonHammill commented on #107
[code]
Note this will be changing to a new colour-blind friendly palette in the next update.

[2021-03-13 08:47] Biomiha commented on #106
Thanks @DillonHammill. Works as expected.

[2021-03-13 08:47] #106 closed

[2021-03-15 22:15] #107 closed

[2021-03-17 07:59] tamaikeiichi opened #108 "Negative value on axis is incorrect"
**Describe the bug**
On biexp axis in a flow cytometry graph,
True signal value: negative value (e.g., -100, acquired from SONY SA3800)
Displayed value on axis: positive value (e.g., 10^-2)
Same results both in 1-D and 2-D plot.

**To Reproduce**
Analyzed plot by CytoExploreR and screenshot on SA3800 software are below.
![cytoexplorer](https://user-images.githubusercontent.com/28277966/111433507-b

[2021-03-17 08:24] Biomiha commented on #72
Hi @DillonHammill,

If I run the example I keep getting the following error, irrespective of which FUN I pass to `cyto_apply`:

    is.na() applied to non-(list or vector) of type 'S4'is.na() applied to non-(list or vector) of type 'S4'Error in h(simpleError(msg, call)) :

    error in evaluating the argument 'i' in selecting a method for function '[': 'names' attribute [49] must be the same lengt

[2021-03-17 09:21] DillonHammill commented on #108
Well spotted! Thanks for reporting this. Looks like I put the negative sign in the wrong place. I will work on a fix tomorrow morning.

[2021-03-19 03:22] DillonHammill commented on #108
@tamaikeiichi, this should now be fixed! Please pull down the latest version of CytoExploreR from the `master` branch:
[code]

[2021-03-19 03:33] DillonHammill commented on #72
@Biomiha, I don't really want to waste time debugging `cyto_apply()` as it has been completely re-written in the coming version (where it is extensively used). As far as I know it is not currently used anywhere else in the package and should therefore not cause any issues for now. I would recommend looking at `fsApply()` in the meantime.

In terms of extracting transformation functions:
[code]

[2021-03-19 03:41] tamaikeiichi commented on #108
Thank you for your immediate response, Great work!

[2021-03-19 04:15] #108 closed

[2021-03-19 20:46] antoine4ucsd opened #109 "flowcore install"
Hello
I am trying to install CytoExploreR on my Mac (catalina) but the flowcore install seems problematic...

``
tryCatch(library(devtools), error = function(e){
        install.packages("devtools")
        library(devtools)
})
install_github("RGLab/flowCore")
``
it seems to be 'ok'...
``
(...)
 testing if installed package keeps a record of temporary installation path
DONE (flowCore)
``

but then

[2021-03-19 20:53] DillonHammill commented on #109
This should sort itself out if you remove the current installation and reinstall `flowCore`. Note: dependencies can now be installed from BioConductor.
[code]

[2021-03-19 20:58] antoine4ucsd commented on #109
thank you! trying now

[2021-03-19 22:02] antoine4ucsd commented on #109
I wish it were more simple...sorry
running into another problem

The downloaded binary packages are in
	/var/folders/r3/y359df552hg8krxm_3lr1f1r0000gr/T//RtmpuNhbOV/downloaded_packages
Old packages: 'sf'
Update all/some/none? [a/s/n]:
a

  There is a binary version available but the source version is later:
   binary source needs_compilation
sf  0.9-7  0.9-8              TRUE

Do you want to insta

[2021-03-19 22:06] DillonHammill commented on #109
Have you installed all the packages in the right order?
[code]

[2021-03-19 22:08] antoine4ucsd commented on #109
ok.trying again
thank you!

[2021-03-19 22:14] antoine4ucsd commented on #109
does not work. Seems to be related to sf package

BiocManager::install(cytolib)
Bioconductor version 3.12 (BiocManager 1.30.10), R 4.0.3 (2020-10-10)
Installing package(s) 'cytolib'
trying URL 'https://bioconductor.org/packages/3.12/bioc/bin/macosx/contrib/4.0/cytolib_2.2.1.tgz'
Content type 'application/x-gzip' length 2537325 bytes (2.4 MB)
downloaded 2.4 MB

The downloaded binary packages are in

[2021-03-19 22:16] DillonHammill commented on #109
install.packages("sf")

[2021-03-19 22:24] antoine4ucsd commented on #109
I just did it:
install.packages("sf")
library(sf)
Linking to GEOS 3.8.1, GDAL 3.1.4, PROJ 6.3.1

but still

BiocManager::install("cytolib")
Bioconductor version 3.12 (BiocManager 1.30.10), R 4.0.3 (2020-10-10)
Installing package(s) 'cytolib'
trying URL https://bioconductor.org/packages/3.12/bioc/bin/macosx/contrib/4.0/cytolib_2.2.1.tgz
Content type 'application/x-gzip' length 2537325 bytes (2.4 MB

[2021-03-20 13:05] Biomiha commented on #72
Thanks @DillonHammill that sounds sensible to me. And thank you for the transformation functions. Oddly, the bit I was struggling with was that there is no print method associated with the transformation functions, i.e. the result is not printed to the console unless you call the print function separately.

[2021-04-08 11:28] Biomiha opened #110 "Error in colorRampPalette(point_cols) : object 'point_cols' not found"
Hi @DillonHammill,

I've noticed that if I set a personalised theme for plotting in CytoExplorereR, i.e.:

    # Viridis palettes
    library(viridis)
    viridis_pal <- viridis(10, option = "D")
    plasma_pal <- viridis(10, option = "C")

    # Remove overlapping colours
    viridis_pal <- viridis_pal[-10]
    plasma_pal <- plasma_pal[-c(1:4)]

    # Combine palettes
    custom_pal <- c(viridis_

[2021-04-08 23:00] DillonHammill commented on #110
@Biomiha, looks like I assumed that users would not change the colour scale when setting `back_gate = TRUE` as the points in the base layer would be concealed by overlays (making the colour scale irrelevant). Nevertheless, I pushed a temporary fix to the `master` branch for you:
[code]

[2021-04-09 10:05] Biomiha commented on #110
Thanks @DillonHammill. I think that's a reasonable assumption.
What happened was that I set the theme at the beginning of the script to obviously include all subsequent plots and I plotted the gating scheme after I'd done all the gating.
Thanks for the fix.

[2021-04-09 10:05] #110 closed

[2021-04-09 23:30] Biomiha opened #111 "Population percentages different for cyto_plot_gating_scheme vs cyto_plot"
Hi @DillonHammill,

I'm seeing some unusual behavior with the population percentages when I plot a sample with `cyto_plot_gating_scheme` (e.g. 1793%)
![Gating_scheme](https://user-images.githubusercontent.com/29175188/114249772-70676a80-9993-11eb-9f33-141e1ad1c7b0.png)

Whereas `cyto_plot` plots accurate percentages for the same sample:
![Whole_blood_gating](https://user-images.githubusercontent.c

[2021-04-10 02:44] northNomad opened #112 "density_stack in cyto_plot is now an atomic vector?"
Hi Dillon,
Running some old code.
Seemed to have broke.

Not sure if there is a change in how we should set ```density_stack``` in ```cyto_plot```

Much love,
NN
[code]

[code]

[code]

[2021-04-10 02:46] northNomad commented on #112
Seems like a general issue to ```density_xxx```

[code]

[2021-04-10 18:44] northNomad commented on #112
Figured it out, I had a new .fcs with no events in a gate.
Apologize for the confusion.

[2021-04-10 22:19] DillonHammill commented on #112
@northNomad, `cyto_plot()` shoukd handle empty samples so I would still like to fix this. Do you mind posting the output of `traceback()` after running the problematic code?

[2021-04-11 15:27] northNomad commented on #112
@DillonHammill
Thanks Dillon
[code]

[2021-04-11 23:43] DillonHammill commented on #111
@Biomiha, looks like `cyto_plot()` is getting confused as to which layer it is labelling. If you look closely you will see that the statistic is in a separate label to "Monocytes" - so for some reason it has skipped the displaying the Monocytes statistics in favour of a different layer. I have probably fixed this already on the coming version of CytoExploreR but maybe I can push a temporary fix fo

[2021-04-11 23:53] DillonHammill commented on #112
@northNomad, was it the first layer that contained no events? If so, `cyto_plot()` doesn't currently support this as the first layer is required to compute axes limits for stacking. 1D plots are getting a complete overhaul in the new update so I will see if I can address this better there.

[2021-04-12 01:43] northNomad commented on #112
@DillonHammill Yes, it's the first sample in the gating set (it' was an unstained control that's why no cells passed all the gates).

[2021-04-12 01:43] northNomad commented on #112
Looking forward to it! You are a legend.

[2021-04-12 01:45] DillonHammill commented on #112
OK I will close this issue for now then. You can reopen it if the issue persists when the new update is released.

[2021-04-12 01:45] #112 closed

[2021-04-12 05:55] Biomiha commented on #111
@DillonHammill
Yes, the second plot (at the bottom) was made using cyto_plot and it looks like the population percentages are as expected.
If you compare the gate percentages in the plot at the top, there are 2 differences - the lymphocyte gate should be ~41% (instead of ~4%) and the monocyte gate should be roughly 2% instead of 1793%.
Thanks for the feedback. Looking forward to the new version.

[2021-04-12 05:58] DillonHammill commented on #111
Are you able to include the image generated by `cyto_plot()` with all the overlays? It will help to track down where things have gone wrong.

[2021-04-12 06:01] DillonHammill commented on #111
Similarly, an image generated by `cyto_plot_gating_scheme()` with `back_gate = FALSE` would be equally useful.

[2021-04-12 06:30] Biomiha commented on #111
Using `cyto_plot_gating_scheme(x = gs[[1]], back_gate = FALSE, gate_track = TRUE, axes_trans = trans_obj, legend = FALSE)` gives me:
![GatingScheme_nobackgate](https://user-images.githubusercontent.com/29175188/114349993-7fe7de80-9b60-11eb-89fa-297be384a214.png)
Whereas if I try `cyto_plot` with overlays, I get the following warning message and the plot below:

    Warning message:
    In split.de

[2021-04-12 06:34] DillonHammill commented on #111
Thanks @Biomiha, this is very helpful. Unfortunately it looks like I was right and `cyto_plot()` is getting the layers mixed up when overlays are present. I will take a closer look and get back to you.

[2021-04-13 01:19] DillonHammill commented on #111
@Biomiha, I managed to track down the bug. I have just pushed the fix to the master branch for you:
[code]
Note to self: This bug is not present in coming version as this code has already been re-written.

[2021-04-14 07:39] Biomiha commented on #111
Hi @DillonHammill,

I keep getting the following error if I specify: `back_gate = TRUE`

    Error in if (channels[1] == channels[2] | (!.empty(channels[1]) & .empty(channels[2]))) { :
      missing value where TRUE/FALSE needed

I'm not sure if it is to do with my GatingSet or something else but it seems to work when `back_gate = FALSE`.

[2021-04-15 04:03] DillonHammill commented on #111
@Biomiha, looks like you have added a `boolean` gate to your gating scheme, the plotting of which is not currently supported by `cyto-plot_gating_scheme()`.

[2021-04-16 04:45] gringer opened #113 "CytoExploreR-Manual-Gating: Interval gate axes are flipped"
I'm running through the 'Manual Gating' vignette, and noticed that the axes for interval gating are the wrong way round.

**To Reproduce**
According to the vignette, this should be the commands run:

[code]
This has CD44 on the X axis and Va2 on the Y axis

**Expected behavior**
According to the animated image on the vignette, Va2 should be on the X axis, and CD44 on the Y axis.

**Desktop (please

[2021-04-19 02:44] DillonHammill opened #114 "Images not rendering on pkgdown website"
It seems that pkgdown is having issues setting paths to images in `docs/articles`. The images from the vignettes directory are copied to `docs/articles` but in the vignette `html` file images are being sourced from the vignette directory. As a temporary workaround I have manually changed the path to all images in the `docs/articles` html files to only include the terminal folder and filename (e.g.

[2021-04-19 02:44] #114 closed

[2021-04-19 04:13] DillonHammill commented on #113
@gringer, thanks for spotting the typo on the website. I have just updated the website and CytoExploreR version to 1.1.0.

[2021-04-19 04:13] #113 closed

[2021-04-19 04:14] DillonHammill commented on #109
@antoine4ucsd, sorry for not getting back to you sooner. Did you manage to get everything installed correctly?

[2021-04-19 04:15] DillonHammill commented on #104
Closing this issue as I believe the issue has been resolved. Feel free to reopen if you need help

[2021-04-19 04:15] #104 closed

[2021-04-19 04:16] #93 closed

[2021-04-19 04:16] #89 closed

[2021-04-19 04:17] #81 closed

[2021-04-19 04:19] DillonHammill commented on #111
Closing as I believe the original issue has been resolved.

[2021-04-19 14:05] Biomiha commented on #111
Hi @DillonHammill,

There's no boolean gate but unfortunately I haven't been able to figure out what is causing the issue. I think it's best if you close the issue for now and I'll do some troubleshooting to hopefully find out what the source of the problem is.

Thanks.

[2021-04-20 00:37] DillonHammill commented on #111
@Biomiha, if you send through your gatingTemplate I can take a closer look. There must be an entry in there without defined channels.

[2021-04-21 21:23] rwbaer opened #115 "Apply a gate to other files in gating set"
**Briefly describe what you hope to achieve:**
I have a gating set that consist of 9 files.  One of those files is a negative (or positive) control that I'd like to use to draw a gate.  The question is, once drawn,  how do I apply the gate to the rest of the files in the gating set?

[code]
Related sanity question:
gsSamp[9] is a gating (sub)set itself.  Should I instead be starting from gsSamp[[9

[2021-04-21 23:33] DillonHammill commented on #115
@rwbaer, you should always pass the entire GatingSet to `cyto_gate_draw()` otherwise the gates will not be applied to all samples (hence the error above).

You can just overlay the sample that you want to use as a reference. I would recommend adding an experimental variable to make selecting this sample easier. For example, you could add a column called `control` and set it values to TRUE/FALSE.
[

[2021-04-25 08:08] Biomiha commented on #111
@DillonHammill - apologies for the delay. I've sent it to your email address.

[2021-04-25 21:25] rwbaer opened #116 "Unassigned quad gate members of a parent population"
**Briefly describe what you hope to achieve:**
I'm attempting to draw a set of quad gates on "single cells" and then plot them with cyto_plot() using a grouping variable.  The resulting cyto_plots contain some dark blue points that seem to be "Single Cells" that were not assigned to any of the gates.  These are evident in gates 1 and 3 of the set.  What went wrong?

**Outline the steps taken to at

[2021-04-25 21:33] DillonHammill commented on #116
@rwbaer, the events are within the gate. The reason you see the Single Cells is due to the sampling within `cyto_plot()`. If you set `display = 1` you will see that this is the case.

FYI this has been fixed in the coming version of CytoExploreR.

[2021-04-25 22:50] rwbaer opened #117 "Better legend handling with group_by argument in cyto_plot()"
**Is your feature request related to a problem? Please describe.**
When using  the group_by  argument with cyto_plot() it is likely that all graphs will share a common legend, but allocation of legend space seems to be done on the basis of each individual graph.

**Describe the solution you'd like**
 It would be nice if total legend real estate were allocated before calculating the width of each g

[2021-04-25 23:22] rwbaer commented on #115
Very helpful answer in that addresses the specific question and also fills in some holes about setting up gating sets if I would at some point want sample specific gates if these become important.  It also helped me better understand how to actually deploy the groups I was creating in Experiment Details.  I've been doing convoluted pData stuff.  :-(

Anyway, I'm closing this although as a result I

[2021-04-25 23:22] #115 closed

[2021-04-26 13:05] rwbaer commented on #116
A relief that it is not about a gating error I was making.  Nice work-around to just set display to 1 if I need too.  You keep helping me learn how deep this package really is.  Thanks.

[2021-04-26 13:06] #116 closed

[2021-04-26 22:58] DillonHammill commented on #111
Thanks @Biomiha, looks like your gates are OK. Are you able to send through the output of:
[code]

[2021-04-26 23:04] rwbaer opened #118 "cyto_gate_remove() struggles with removing quad gate"
**Describe the bug**
As implied in the help documentation, I changed draw to remove in cyto_gate_draw() function.  An error results because of the multiple gate names associated with this type of gate

**To Reproduce**
Run the following type of code
[code]

**Expected behavior**
I expect the four associated gates to disappear so that I can redraw them.

**Desktop (please complete the following inf

[2021-04-26 23:07] DillonHammill commented on #117
@rwbaer, as I mentioned previously, I would avoid using the RStudio zoom function as it creates lower resolution images that are commonly distorted.

Instead, you should open up a popup window with `cyto_plot_new()` and expand it to be as big as you want before adding plots with `cyto_plot()`:
[code]

If you are creating custom plot layouts as above, you should really be using `cyto_plot_custom()`

[2021-04-26 23:34] DillonHammill commented on #118
@rwbaer, just tried this on my end and everything works as expected. This is just a warning that doesn't affect the expected behaviour, but nevertheless I will track it down so that it doesn't pop up again.

[2021-04-26 23:37] DillonHammill commented on #117
See #27 for more details on creating complex layouts.

[2021-04-27 00:13] DillonHammill commented on #118
@rwbaer, this should now be fixed. Please pull down the latest version of CytoExploreR and try again:
[code]
I just updated the handling of nodes within `cyto_gate_remove()` to use `cyto_nodes_convert()`. I also made `cyto_gate_remove()` return your GatingSet to match new behaviour of its sister functions `cyto_gate_draw()` and `cyto_gate_edit()`.

[2021-04-27 07:17] Biomiha commented on #111
Thanks @DillonHammill. I've sent it across to your email.

[2021-04-27 12:58] #118 closed

[2021-04-27 23:51] DillonHammill commented on #111
Thanks @Biomiha, not sure what is going on here - back gating shouldn't influence the channels in any way. This is very old code and I will be re-writing `cyto_plot_gating_scheme()` soon.

[2021-05-04 06:43] DillonHammill commented on #101
@SgtVil, I finally figured out what was causing the problem with displaying the 2D density. I have already prepared a fix for the coming version of CytoExploreR so I thought I would summarise the changes here.

Basically, the grid-like appearance is due to the default bin number that I chose for the calculation of the 2D kernel density estimate. The current default is set to 128 bins, this value c

[2021-05-05 00:39] DillonHammill commented on #101
After thinking about this a bit more, I think it is best to NOT trim the data to supplied axes limits. If the data is trimmed too early, the computed statistics will no longer be accurate estimates for the entire data (i.e. deviate from `cyto_stats_compute()`). So for now, I think the best approach is to fix the bin issue when there is data outside the plot limits and use the default `bandwidth` e

[2021-05-09 23:41] DillonHammill commented on #89
Just adding a comment here, as the coming version of CytoExploreR now performs a check on `maxValue` when performing `biexponential` transformation. This will ensure that all data is appropriately transformed within the range of the instrument.

[2021-05-15 18:50] mblue9 opened #119 "Error with installation instructions"
**Describe the bug**
I just started trying out this package (really enjoying it!) and thought I should let you know about an error I got with one of the installation instructions in case others experience it.

**To Reproduce**
I was following the instructions on the home page here https://dillonhammill.github.io/CytoExploreR/index.html and this

[code]
produced this error for me
[code]

I ended up

[2021-05-15 18:55] mblue9 opened #120 "Images not rendered in Getting Started vignette"
**Describe the bug**
Just to let you know none of the images in the Getting Started vignette have rendered. I built the pkgdown site for this repo locally and they all appear fine so maybe just a glitch with the build here?

**To Reproduce**
See where images are supposed to be here https://dillonhammill.github.io/CytoExploreR/articles/CytoExploreR.html

**Expected behavior**
A clear and concise de

[2021-05-15 21:59] DillonHammill commented on #120
Thanks for reporting this. pkgdown keeps setting the wrong paths to images in the docs folder. I will manually correct these today so that the images are displayed correctly.